// Animations

@-webkit-keyframes slide-down {
  from { -webkit-transform: translate(0, -100%); }
  to   { -webkit-transform: translate(0, 0); }
}
.slide-down {
  -webkit-animation: slide-down .2s ease;
}

@-webkit-keyframes popin {
  0%   { -webkit-transform: scale(.8); }
  80%  { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}
.popin {
  -webkit-animation: popin .1s linear;
}

@-webkit-keyframes fadein {
  from { -webkit-transform: scale(.5); opacity: 0; }
    to { -webkit-transform: scale(1); opacity: 1; }
}
.fadein {
  -webkit-animation: fadein .2s ease;
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
    to { opacity: 0; }
}
.fadeout { -webkit-animation: fadeout .5s ease; }


// Transitions
