// Buttons

.button {
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  white-space: nowrap;
  display: inline-block;
  line-height: 2rem;
  height: auto;
  min-height: 2rem;
  padding: .5rem 1rem;

  // Add optional FF hack
}

.button-big { padding: 1rem 1.5rem; }

.button-small {
  font-size: .875rem;
  padding: 0 .5rem;
  line-height: 2.5rem;
  min-height: 2.5rem;
}
.button-tiny-text {
  font-size: .75rem;
  font-weight: normal;
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0;
}

.button-icon {
  padding: 0 1rem;
  min-height: 4rem;
  line-height: 4rem;
}
.button-icon-big {
  svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -.375em;
  }
}

