// Modules

.fixed-top {
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: 4;
}

.ss-icon { position: relative; top: .1875em; }

.no-wrap { white-space: nowrap; }

.mt6 { margin-top: 6*$space; }
.px0 { padding-right: .5*$space; padding-left: .5*$space; }

.bar-2 {
  height: 2rem;
  line-height: 2rem;
}
.bar-3 {
  height: 3rem;
  line-height: 3rem;
}
.bar-4 {
  min-height: 3.25rem;
  padding-top: .375rem;
  padding-bottom: .375rem;
}
.bar-4-align {
  line-height: 3rem;
}
.bar-6 {
  height: 6rem;
  line-height: 6rem;
}
.lh-small { line-height: 1.25; }

.navbar a {
  font-weight: bold;
  display: inline-block;
  padding: 0 .5rem;
}

.btn {
  font-weight: bold;
  display: inline-block;
  height: 2em;
  line-height: 2;
  padding: 0 .75em;
  border-radius: .25*$space;
  .ss-icon {
    position: relative;
    top: .1875em;
  }
}
.btn-player {
  float: left;
  height: 6*$space;
  line-height: 6*$space;
  padding: 0 $space;
}


.progress {
  position: relative;
  height: 2*$space;
  cursor: pointer;
}
.progress-background,
.progress-buffer,
.progress-played,
.progress-overlay {
  position: absolute;
}
.progress-background,
.progress-buffer,
.progress-played {
  top: .75*$space;
  bottom: .75*$space;
  left: 0;
}
.progress-background {
  right: 0;
}
.progress-overlay {
  top: 0; right: 0; bottom: 0; left: 0;
}

@media (max-width: 640px){
  .mobile-hide { display: none; }  
}

.truncate {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 640px){
  .hover-group {
    .hover-show { display: none; }
    &:hover .hover-show { display: block; }
  }
}
  

.ul {
  list-style: none;
  padding-left: 0;
  li {
    line-height: 2rem;
    margin-bottom: 0;
  }
}
.menu li a {
  display: block;
}

.dropdown {
  position: relative;
}
.dropdown-body {
  position: absolute;
  z-index: 2;
  top: 100%;
  white-space: no-wrap;
  min-width: 160px;
  max-height: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  &.dropdown-body-right {
    right: 0;
  }
  &.is-open { display: block; }
}

.rounded { border-radius: .25rem; }


.dropbar {
  transition-property: height;
  transition-duration: .25s;
  transition-timing-function: ease;
  height: 0;
  .dropbar-body {
    overflow: hidden;  
  }
  &.is-open {
    height: 3rem;
  }
}

.draggable {
  cursor: move;
  -webkit-user-drag: element;
}


