// Modules

// Layout
.fixed-top {
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: 1;
}

.wrap {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

.mt0 { margin-top: .5rem; }
.mr0 { margin-right: .5rem; }
.mt6 { margin-top: 6rem; }
.px0 { padding-right: .5rem; padding-left: .5rem }
.py0 { padding-top: .5rem; padding-bottom: .5rem; }
.tappad { line-height: 3rem; }
  // Deprecated
  .lh-small { line-height: 1.25; }

.nowrap { white-space: nowrap; }

// Typography
.truncate {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

// Hack for Symbolset Standard's vertical alignment
.ss-icon { position: relative; top: .1875em; }


// Table Module
.table {
  display: table;
  width: 100%;
  &.table-fixed { table-layout: fixed; }
  .table-cell {
    display: table-cell;
    vertical-align: middle;
    &.table-cell-top { vertical-align: top; }
    &.table-cell-bottom { vertical-align: bottom; }
  }
}

// Testing
// Responsive folding table
@media (min-width:512px){
  .folding-table {
    display: table;
    width: 100%;
    &.table-fixed { table-layout: fixed; }
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      &.table-cell-top { vertical-align: top; }
      &.table-cell-bottom { vertical-align: bottom; }
    }
  }
}
  

// Widths
.x25 { width: 25%; }
.x33 { width: percentage(1/3);}
.x50  { width: 50%; }
.x66 { width: percentage(2/3); }
.x75 { width: 75%; }
.x100 { width: 100%; }

// Vertical rhythm grid
.y2 { line-height: 2rem; }
.y3 { line-height: 3rem; }
.y4 { line-height: 4rem; }
.y6 { line-height: 6rem; } // Why the fuck doesn't this work?

.hi6 { height: 6rem; }

// Navbar
.navbar {
  padding-right: .5rem;
  padding-left: .5rem;
  a {
    font-weight: bold;
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

// Lists
.ul {
  list-style: none;
  padding-left: 0;
  li {
    line-height: 2rem;
    margin-bottom: 0;
  }
}
.menu a {
  display: block;
  padding-right: 1rem;
  padding-left: 1rem;
}

// Dropdown
.dropdown {
  position: relative;
}
.dropdown-body {
  position: absolute;
  z-index: 2;
  top: 100%;
  white-space: nowrap;
  min-width: 160px;
  max-height: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  &.dropdown-body-right { right: 0;}
  &.dropdown-body-top { top: 0; }
  // Handle this with ng-show instead
  &.is-open { display: block; }
}
.dropdown-hover:hover .dropdown-body { display: block; }

.flash-message {
  position: absolute;
  z-index: 2;
  top: 0;
  white-space: nowrap;
}

// Buttons
.btn {
  font-weight: bold;
  display: inline-block;
  height: 2em;
  line-height: 2;
  padding: 0 .75em;
  border-radius: .25rem;
  -webkit-font-smoothing: antialiased;
}

// Adjust for weird vertical alignment with icons
.btn-icon {
  position: relative;
  padding-left: 2em;
  .ss-icon {
    position: absolute;
    top: .1875em;
    left: .75em;
  }
}
.btn-player {
  height: 6rem;
  line-height: 6rem;
  padding: 0 1rem;
  vertical-align: middle;
}

// Basic input
.input {
  height: 2rem;
  line-height: 1.5rem;
  padding: 0 .75rem;
  border-radius: .25*$space;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  outline: none;
}

// Media player progress bar
.progress {
  position: relative;
  height: 2*$space;
  cursor: pointer;
}
.progress-background,
.progress-buffer,
.progress-played,
.progress-overlay {
  position: absolute;
}
.progress-background,
.progress-buffer,
.progress-played {
  top: .75*$space;
  bottom: .75*$space;
  left: 0;
}
.progress-background {
  right: 0;
}
.progress-overlay {
  top: 0; right: 0; bottom: 0; left: 0;
}

// Dropbar
// Layout animations can be bad for rendering performance
// Consider deprecating
.dropbar {
  transition-property: height;
  transition-duration: .25s;
  transition-timing-function: ease;
  height: 0;
  .dropbar-body {
    overflow: hidden;  
  }
  &.is-open {
    height: 3rem;
  }
}


// States
@media (max-width: 640px){
  .mobile-hide { display: none; }  
}

// This sucks on iOS, consider deprecating
@media (min-width: 640px){
  .hover-group {
    .hover-show { display: none; }
    &:hover .hover-show { display: block; }
  }
}

.draggable {
  cursor: move;
  -webkit-user-drag: element;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.ui-sortable-helper {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0 4px 4px rgba(#000,.1);
}

// Overlay
.overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
}

.modal {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: table;
  width: 80%;
  margin: auto;
}
