// Progress bar

.progress {
  position: relative;
  height: 1.5rem;
  cursor: pointer;
}
.progress-background,
.progress-buffer,
.progress-played,
.progress-overlay {
  position: absolute;
}
.progress-background,
.progress-buffer,
.progress-played {
  top: .75rem;
  bottom: .25rem;
  left: 0;
}
.progress-background {
  right: 0;
}
.progress-overlay {
  top: 0; right: 0; bottom: 0; left: 0;
}
