// States

.mobile-show { display: none; }
.mobile-collapse-x {
  transition: width .2s ease, padding .2s ease;
  svg { transition: width .2s ease; }
}
.mobile-collapse-y {
  max-height: 3rem;
  transition: max-height .2s ease;
}

.layout-fixed-clear {
  padding-top: 6.25rem;
  transition: padding-top .2s ease;
}
@media screen and (max-width: 48em) {
  .mobile-show, .mobile-block { display: block; }
  .mobile-block { width: 100%; }
  .mobile-hide { display: none; }
  .mobile-center { text-align: center; }
  .mobile-right-align { text-align: right; }
  .mobile-left-align { text-align: left; }
  .mobile-collapse-x {
    width: 0;
    padding: 0;
    svg { width: 0; }
  }
  .mobile-collapse-y { max-height: 0; } 
  .layout-fixed-clear { padding-top: 5rem; }
}

