// Table Object

@media (min-width: 36em) {
  .table {
    display: table;
    width: 100%;
  }
  .table-fixed {
    table-layout: fixed;
  }
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.mobile-table {
  display: table;
  width: 100%;
}
.mobile-table-cell {
  display: table-cell;
  vertical-align: middle;
}

