// Type

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
}


// Base Type Scale
h1, h2, h3, h4, h5, h6 {
  font-size: 1.25rem;
}
.h1 { font-size: 1.25rem; }
.h2 { font-size: 1rem; }
.h3 { font-size: .75rem; }

// Utilities

strong, .bold { font-weight: 600; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { text-transform: uppercase; letter-spacing: .2em; }
.center { text-align: center; }
.right-align  { text-align: right; }
.nowrap { white-space: nowrap; }
.truncate {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

// For inline-block elements
// Use .h2 to reset to 1rem
.font-zero { font-size: 0; }



// Typographical Measure
// Use with the .wrap class to center container

.measure { max-width: 48rem; }
.measure-narrow { max-width: 32rem; }
.measure-wide { max-width: 60rem; }


// Leading utilities to control line-height

.leading-1 { line-height: 1.5rem; }
.leading-2 { line-height: 2rem; }
.leading-3 { line-height: 3rem; }
.leading-4 { line-height: 4rem; }

// Icons
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

