// Layout Utilities

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }

.oh    { overflow: hidden; }
.left  { float: left; }
.right { float: right; }

.clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

.fit { max-width: 100%; }

.full-width { width: 100%; }
.half-width { width: 50%; }

.mobile-show {
  display: none;
}
.mobile-collapse-x {
  transition: width .2s ease, padding .2s ease;
  svg { transition: width .2s ease; }
}
.mobile-collapse-y {
  max-height: 3rem;
  transition: max-height .2s ease;
}

.layout-fixed-clear {
  padding-top: 6.25rem;
}
@media screen and (max-width: 48em) {
  .mobile-show,
  .mobile-block {
    display: block;
  }
  .mobile-block {
    width: 100%;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-center {
    text-align: center;
  }
  .mobile-collapse-x {
    width: 0;
    padding: 0;
    svg { width: 0; }
  }
  .mobile-collapse-y {
    max-height: 0;
  } 
  .layout-fixed-clear {
    padding-top: 5rem;
  }
}

