/*

        Mathematical Animations


*/


.trans-speed-1 {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.trans-speed-2 {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.trans-speed-3 {
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

.trans-speed-4 {
  -webkit-transition-duration: .05s;
  transition-duration: .05s;
}

.trans-all {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

@-webkit-keyframes slide-down {
  from { -webkit-transform: translate(0, -100%); }
  to   { -webkit-transform: translate(0, 0); }
}
.anim-slide-down {
  -webkit-animation: slide-down .2s ease;
}

@-webkit-keyframes slide-up {
  from { -webkit-transform: translate(0, 100%); }
  to   { -webkit-transform: translate(0, 0); }
}
.anim-slide-up {
  -webkit-animation: slide-up .2s ease;
}

@-webkit-keyframes pop-in {
  0%   { -webkit-transform: scale(.8); }
  80%  { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}
.anim-pop-in {
  -webkit-animation: pop-in .1s linear;
}

////////////////////////////////////////////////////////////////
// Angular animations

/*
.slide-down-enter, .slide-down-leave {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.slide-down-enter {
  -webkit-transform: translate(0, -100%);
}

.slide-down-enter-active {
  -webkit-transform: translate(0,0);
}

.slide-down-leave {
  position: absolute;
  top: 0;
}

.slide-down-leave-active {
  top: -100%;
}
*/

.view-enter, .view-leave {
  -webkit-transition: all linear .1s;
}

.view-enter {
  -webkit-transform: scale(.5);
  opacity:0;
  
}
.view-enter.view-enter-active {
  -webkit-transform: scale(1);
  opacity:1;
}

.view-leave {
  -webkit-transform: scale(1);
  opacity:.5;
}
.view-leave.view-leave-active {
  -webkit-transform: scale(1.2);
  opacity:0;
}


