body {
  font-size: 100%;
  line-height: 1.5;
  color: #444;
}

a {
  text-decoration: none;
  color: $prime;
  cursor: pointer;
  &.active {
    color: $text;
  }
}
a:hover {
  //color: #0ac;
}

ul {
  list-style: none;
}

//      Organize this

// rewrite the small extension to not overwrite

.btn {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: $white;
  //font-weight: bold;
  background-color: $prime;
  border-radius: .125rem;
  padding: 0 16px;
  &.small {
    height: 2rem;
    line-height: 2rem;
  }
  &:hover {
    background-color: lighten($prime, 5%);
  }
}

// Need to work on this
.pill {
  //height: 2rem;
  //line-height: 2rem;
  //display: inline-block;
  color: $white;
  background-color: $gray4;
  border-radius: .125rem;
  padding: 0 4px;
}



// This is a hack - need to switch everything to OOCSS
nav a.btn.small {
  height: 2rem;
  line-height: 2rem;
  margin: .5rem;
  color: $white;
  &:hover {
    background-color: lighten($prime, 5%);
  }
}

.subhead, footer {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
}

.rot-180 {
  display: block;
  -webkit-transform: rotate(180deg);
}

.show-more {
  display: block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}



