/*

        Base


*/


h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0;
  padding: 0;
}


.form {}

.fieldset {
  margin: 0;
  padding: 1rem;
}

.label {
}

.input {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  border-radius: .25rem;
  border: 1px solid;
  max-width: 100%;
  &::-webkit-input-placeholder {
    line-height: 1.5rem;
  }
}

.select {
  margin-bottom: 1rem;
  padding: .5rem;
}
