/*

        Modules


*/


.btn {
  display: inline-block;
  overflow: hidden;
  border-radius: .25rem;
}

.btn-sm {
  line-height: 2rem;
  padding: 0 .75rem;
}

.btn-med {
  line-height: 3rem;
  padding: 0 1rem;
}

.btn-big {
  line-height: 4rem;
  padding: 0 1rem;
}

// Media
.media {
  overflow: hidden;
  .img {
    float: left;
  }
  .bd {
    overflow: hidden;
  }
}
// Extension to stack media object at small sizes
.media-fold-s {
  @include break(small) {
    & .img {
      float: none;
    }
  }  
}
