/* JxPlayer */

.player .play,
.player .pause { float: left; }

.player .bd { overflow: hidden; }

.jx-toggle-actions {
  padding: 0 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  line-height: 64px;
  text-align: center;
  z-index: 512;
}

.jx-actions {
  padding-right: 48px;
}



.jx-buffer,
.jx-played {
  width: 0;
}


