/*

        States


*/


.hov-zoom:hover {
  zoom: 200%;
}

.hov-shift-up:hover {
  -webkit-transform: translate(0, -4rem);
  transform: translate(0, -4rem);
}

.tarshow {
  display: none;
  &:target {
    display: block;
  }
}

.hov {
  .hov-show {
    display: none;
  }
  &:hover .hov-show {
    display: block;
  }
}

.hov-exp {
    height: 0;
  &:hover {
    height: auto;
  }
}

.hide { display: none; }

// Responsive show/hide utilities
// These are questionable/dangerous
@include break(small) {
  .hide-s {
    display: none;
  }
  .show-s {
    display: block; // use inherit instead??
  }
}

@include break(medium) {
  .hide-m {
    display: none;
  }
  .show-m {
    display: block;
  }
}

@include break(large) {
  .hide-l {
    display: none;
  }
  .show-l {
    display: block;
  }
}