/*

        Mathematical Theme


*/


$prime: #f60;

$white: #fff;
$text: #444;

$gray1: #f6f6f6;
$gray2: #eee;
$gray3: #ddd;
$gray4: #bbb;
$gray5: #999;



body {
  color: $text;
  background-color: #fff;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
}


a {
  color: $prime;
  text-decoration: none;
  &:hover {
    color: lighten($prime, 5%);
  }
}

.text { color: $text; }
.text2 { color: lighten($text, 5%); }
.gray5 { color: $gray5; }
.gray2 { color: $gray2; }
.wht {   color: #fff; }
.prime {  color: $prime; }

.bg-text { background-color: $text; }
.bg-text2 { background-color: lighten($text, 5%); }
.bg-gray5 { background-color: $gray5; }
.bg-gray2 { background-color: $gray2; }
.bg-prime {  background-color: $prime; }


.bor      { border-width: 1px; border-style: solid; }
.bortop   { border-top-width: 1px; border-top-style: solid; }
.borright { border-right-width: 1px; border-right-style: solid; }
.borbot   { border-bottom-width: 1px; border-bottom-style: solid; }
.borleft  { border-left-width: 1px; border-bottom-style: solid; }

.bor-text { border-color: $text; }
.bor-gray5 { border-color: $gray5; }
.bor-gray2 { border-color: $gray2; }
.bor-wht {   border-color: #fff; }


.rc {   border-radius: .25rem; }
.circ { border-radius: 50%; }


.btn-prime {
  color: #fff;
  background-color: $prime;
  border: none;
  &:hover {
    color: #fff;
    background-color: lighten($prime, 5%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
  }
}

.input:focus {
  outline: none;
  border-color: $prime;
}
