/*

        Mathematical Theme


*/

$white: #fff;

.bg-darken { background-color: rgba(0,0,0,.2); }
.bg-white  { background-color: #fff; }

.white { color: #fff; }

/* Default Theme */
$def-prime: #f60;
$def-text: #444;
$def-gray2: #eee;
$def-gray5: #999;

body.theme-default {
  color: $def-text;
  background-color: #fff;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  a {
    color: $def-prime;
    text-decoration: none;
    &:hover {
      color: lighten($def-prime, 5%);
    }
  }
  .text { color: $def-text; }
  //.text2 { color: lighten($def-text, 5%); }

////////////////////////////////////////////////////////////////
// Need to rename .gray5 and .gray2 globally

  .gray5 { color: $def-gray5; }
  .gray2 { color: $def-gray2; }
  //.wht {   color: #fff; }
  .prime {  color: $def-prime; }
  //.bg-text { background-color: $def-text; }
  //.bg-text2 { background-color: lighten($def-text, 5%); }
  //.bg-gray5 { background-color: $def-gray5; }
  .bg-gray2 { background-color: $def-gray2; }
  .bg-prime {  background-color: $def-prime; }
  //.bor-text { border-color: $def-text; }
  //.bor-gray5 { border-color: $def-gray5; }
  .bor-gray2 { border-color: $def-gray2; }
  //.bor-wht {   border-color: #fff; }
  .btn-prime {
    color: #fff;
    background-color: $def-prime;
    border: none;
    &:hover {
      color: #fff;
      background-color: lighten($def-prime, 5%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .btn-gray {
    color: $def-text;
    background-color: $def-gray2;
    border: none;
    &:hover {
      color: $def-prime;
      //background-color: lighten($def-gray2, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  
  .input:focus {
    outline: none;
    border-color: $def-prime;
  }
  .player { color: #fff; background-color: lighten($def-text, 5%); }
  .player-buffer { background-color: $def-text; }
  .player-played { background-color: $def-prime; }
}


/* Science Theme */
$sci-prime: #9f0;
$sci-dark: #555;
$sci-gray1: #ddd;
$sci-gray2: #999;

.theme-science {
  color: $sci-gray1;
  background-color: $sci-dark;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  a {
    color: darken($sci-prime, 5%);
    text-decoration: none;
    &:hover {
      color: darken($sci-prime, 10%);
    }
  }
  .text { color: $sci-gray1; }
  .gray5 { color: $sci-gray2; }
  .gray2 { color: $sci-gray1; }
  .prime {  color: $sci-prime; }
  .bg-gray2 { background-color: $sci-gray1; }
  .bg-prime {  background-color: $sci-prime; }  
  .bor-gray2 { border-color: darken($sci-dark, 10%); }
  .btn-prime {
    color: $sci-dark;
    background-color: $sci-prime;
    border: none;
    &:hover {
      color: $sci-dark;
      background-color: desaturate($sci-prime, 5%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .btn-gray {
    color: $sci-dark;
    background-color: $sci-gray2;
    border: none;
    &:hover {
      color: $sci-prime;
      //background-color: darken($sci-gray1, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .input:focus {
    outline: none;
    border-color: $sci-prime;
  }
  .player { color: darken($sci-dark, 10%); background-color: darken($sci-gray2, 5%); }
  .player-buffer { background-color: lighten($sci-gray2, 10%); }
  .player-played { background-color: $sci-prime; }
}


/* BLK Theme */

$blk-dark: #444;
$blk-mid-gray: #999;
$blk-light-gray: #eee;
$blk-link:  #0cf;

.theme-blk {
  color: $blk-dark;
  background-color: #fff;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  a {
    color: $blk-link;
    text-decoration: none;
    &:hover {
      color: darken($blk-link, 10%);
    }
  }
  .text { color: $blk-dark; }
  .gray5 { color: $blk-mid-gray; }
  .gray2 { color: $blk-light-gray; }
  .prime {  color: $blk-link; }
  .bg-gray5 { background-color: $blk-mid-gray; }
  .bg-gray2 { background-color: $blk-light-gray; }
  .bg-prime {  background-color: $blk-link; }  
  .bor-gray2 { border-color: $blk-light-gray; }
  .btn-prime {
    color: #fff;
    background-color: $blk-link;
    border: none;
    &:hover {
      color: #fff;
      background-color: lighten($blk-link, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .btn-gray {
    color: $blk-dark;
    background-color: $blk-light-gray;
    border: none;
    &:hover {
      color: $blk-link;
      //background-color: darken($blk-light-gray, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .input:focus {
    outline: none;
    border-color: $blk-link;
  }
  .player { color: #fff; background-color: lighten($blk-dark, 5%); }
  .player-buffer { background-color: $blk-dark; }
  .player-played { background-color: $blk-link; }
}

/* Gray Theme */

$gry-dark: #555;
$gry-mid-gray: #999;
$gry-light-gray: #eee;
$gry-link:  #333;

.theme-gray {
  color: $gry-dark;
  background-color: #fff;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  //font-family: Helvetica, sans-serif;
  a {
    color: $gry-link;
    text-decoration: none;
    &:hover {
      color: darken($gry-link, 10%);
    }
  }
  .text { color: $gry-dark; }
  .gray5 { color: $gry-mid-gray; }
  .gray2 { color: $gry-light-gray; }
  .prime {  color: $gry-link; }
  .bg-gray5 { background-color: $gry-mid-gray; }
  .bg-gray2 { background-color: $gry-light-gray; }
  .bg-prime {  background-color: $gry-link; }  
  .bor-gray2 { border-color: $gry-light-gray; }
  .btn-prime {
    color: #fff;
    background-color: $gry-link;
    border: none;
    &:hover {
      color: #fff;
      background-color: lighten($gry-link, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .btn-gray {
    color: $gry-dark;
    background-color: $gry-light-gray;
    border: none;
    &:hover {
      color: $gry-link;
      background-color: darken($gry-light-gray, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .input:focus {
    outline: none;
    border-color: $gry-link;
  }
  .player { color: #fff; background-color: lighten($gry-mid-gray, 5%); }
  .player-buffer { background-color: $gry-mid-gray; }
  .player-played { background-color: $gry-link; }
}


/* Slice Theme */

$slc-dark: #310;
$slc-mid: #930;
//$slc-light-gray: #eee;
$slc-orange:  #f60;

.theme-slice {
  color: $slc-dark;
  background-color: $slc-orange;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: darken($slc-dark, 10%);
    }
  }
  .text { color: $slc-dark; }
  .gray5 { color: $slc-mid; }
  .gray2 { color: $slc-mid; }
  .prime {  color: $white; }
  .bg-gray5 { background-color: $slc-mid; }
  .bg-gray2 { background-color: $slc-mid; }
  .bg-prime {  background-color: $white; }  
  .bor-gray2 { border-color: $slc-mid; }
  .btn-prime {
    color: $white;
    background-color: $slc-mid;
    border: none;
    &:hover {
      color: $white;
      background-color: darken($slc-mid, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .btn-gray {
    color: $white;
    background-color: $slc-mid;
    border: none;
    &:hover {
      color: $white;
      background-color: darken($slc-mid, 10%);
    }
    &:active {
      box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    }
  }
  .input:focus {
    outline: none;
    border-color: $white;
  }
  .player { color: $white; background-color: darken($slc-orange, 5%); }
  .player-buffer { background-color: darken($slc-orange, 10%); }
  .player-played { background-color: $slc-mid; }
}


/* Non-colored Styles */

.bor      { border-width: 1px; border-style: solid; }
.bortop   { border-top-width: 1px; border-top-style: solid; }
.borright { border-right-width: 1px; border-right-style: solid; }
.borbot   { border-bottom-width: 1px; border-bottom-style: solid; }
.borleft  { border-left-width: 1px; border-left-style: solid; }

.rc {   border-radius: .25rem; }
.circ { border-radius: 50%; }

