/*

        Mathematical Type


*/

body {
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
}

/* Mobile-first font sizes
*/
h1, .h1 {
  font-size: 2rem;
  line-height: 1.25;
}

.h1-res {
  @include break(medium) {
    font-size: 4rem;
  }
  @include break(large) {
    font-size: 6rem;
  }
}


h2, .h2 {
  font-size: 2rem;
  line-height: 1.25;
}

.h2-res {
  @include break(medium) {
    font-size: 3rem;
  }
  @include break(large) {
    font-size: 4rem;
  }
}
h3, .h3 {
  font-size: 1.25rem;
  line-height: 1.25;
}

    /* Use these for more complex type scales
    
    h4, .h4 {}
    h5, .h5 {}
    h6, .h6 {}
    */

/* Use this for simpler type scales
*/
h4,
h5,
h6, .h6 {
  font-size: 1.25rem; // Used to be 1.125rem for xsmall
  //font-weight: 600;
}

p,
ul,
ol,
.p {
  //font-size: 1.25rem; // Used to be 1.125rem for xsmall
  font-size: 1rem;
}

small,
.small,
.sm {
  font-size: .75rem;
  -webkit-text-size-adjust: 100%;
}

h1, .h1, .h1-s, h2, .h2, .h2-s, h3, h4, h5, h6,
strong,
.bold,
.b   { font-weight: 600; }
.reg { font-weight: normal; }
.i   { font-style: italic; }

.caps { 
  text-transform: uppercase;
  letter-spacing: .2em;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.txtcen { text-align: center; }
.txtri  { text-align: right; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
