<div ng-controller="ActivitiesCtrl">

  <div ng-hide="activities.length || tracksLoading" class="pad show-more">No content</div>

  <div class="activity bobo pad" ng-repeat="activity in activities">
    <!-- <pre>{{activity | json}}</pre> -->
    <small class="lrpad gry">{{activity.created_at | fromNow}}</small>
    <p class="h4"><a class="tappad" ng-href="/{{activity.origin.user.permalink}}/likes">{{activity.origin.user.username}} liked: {{activity.origin.track.title}}</a></p>

    
    
  </div><!-- activity -->
  
  <a href="" class="show-more" ng-click="showMore()" ng-hide="activities.length <= pageOffset || tracksLoading">Show More</a>  
  <div class="show-more padto" ng-show="tracksLoading"><i class="icon i-jxn-loading h3 gry disb center anim-spin"></i></div>
  
  
</div><!-- end sc-tracklist -->