<header class="fixed t0 r0 l0 measure-narrow wrap mt4 bg-white border-bottom">
  <div class="mobile-table py2">
    <div class="mobile-table-cell px2">
      <h1>Add to Playlist</h1>
    </div>
    <div class="mobile-table-cell px2 right-align">
      <a href ng-click="closeModal()" class="button button-tiny-text button-text-gray" title="Close">
        <div class="icon" icon="close"></div>
      </a>
    </div>
  </div>
</header>

<div ng-controller="AddToSetCtrl"
  style="margin-top:4.5rem"
  class="px2 mb4">
  <!--
  <div class="px1">
    <form ng-submit="createPlaylist(newPlaylistTitle, track)">
      <input type="text" class="input mb1" ng-model="newPlaylistTitle" placeholder="Create New Playlist" />
    </form>
  </div>
  -->

  <a href
    class="h1 bold py1 block"
    ng-repeat="set in userPlaylists"
    ng-click="addToPlaylist(modal.track, set)">
      {{ set.title }}
      <span ng-if="wasAdded == set.id" class="h2 mid-gray">Added</span>
  </a>

</div>
