<div class="globalplayer player bobo posabs l0 r0" id="{{track.permalink}}" ng-class="{'playing bg-text2': player.playing || player.paused}" ng-controller="PlayerCtrl">


  <a class="play sq64 lh64 text-center no-touch-color" ng-class="{mdgry: !player.tracks, 'wht bg-prime': player.paused.id}" ng-click="playTrack(player.tracks, player.i)" ng-hide="player.playing"><i class="i-jxn-play h5 disb anim-hack anim-popin"></i></a>
<!--       <a class="pause sq64 lh64 text-center wht bg-prime no-touch-color" ng-click="player.pause(track)" ng-show="player.playing.id == track.id && !audioReady()"><i class="icon i-jxn-loading h4 wht disb center anim-spin"></i></a> -->
  <a class="pause sq64 lh64 text-center wht bg-prime no-touch-color" ng-click="player.pause(player.playing)" ng-show="player.playing"><i class="i-jxn-pause h5 disb anim-hack anim-popin"></i></a>    
      
  <div class="bd disb posrel hi64 text no-touch-color" ng-class="{wht: player.playing.id == track.id || player.paused.id == track.id}">
    <h2 class="artist posabs to0 z128 marl h6 lh1-25 gry marto- reg truncate overhide padr" ng-class="{wht: player.playing.id == track.id || player.paused.id == track.id}">{{player.current.user.username}}<small class="" ng-show="track.sharing == 'private'"> [private]</small></h2>
    <h3 class="title posabs to26 z128 marl h4 lh1-25 b truncate overhide padr" ng-class="{wht: player.playing.id == track.id || player.paused.id == track.id}">{{player.current.title}}</h3>
    
    <div ng-show="player.playing.id == track.id || player.paused.id == track.id" ng-switch on="player.playing.id == track.id || player.paused.id == track.id">      
      <div class="time-span w100 hi64" ng-switch-when="true" ng-controller="ScrubberCtrl">
        <div class="scrubber w100 hi64 posabs z256 no-touch-color" ng-click="seekTo($event)"></div>
        <div class="buffer posabs to0 bo0 l0 bg-text" style="width: {{currentBufferPercentage}}%"></div>
        <div class="played posabs to0 bo0 l0 bg-prime" style="width: {{currentTimePercentage}}%"></div>
        <p class="time wht marr posabs to0 r0 sm lh24 anim-hack anim-slideleft" ng-show="player.playing.id == track.id && audioReady()">{{currentTimeMS | playTime}} | {{durationMS | playTime}}</p>
      </div>
    </div>

    <a ng-click="openTrack(track)" class="posabs r0 to0 bo0 z512 gry lh64 tappad"><i class="h6 i-jxn-carat" ng-class="{wht: player.playing.id == track.id || player.paused.id == track.id}"></i></a>

  </div>      


</div>