<h2>Keyboard Shortcuts</h2>
<table class="p responsive">
  <tr>
    <td class="bold highlight">space</td>
    <td class="px1">Play/pause</td>
  </tr>
  <tr>
    <td class=""><span class="bold highlight">j</span> or <span class="bold highlight">shift + →</span></td>
    <td class="px1">Next track</td>
  </tr>
  <tr>
    <td><span class="bold highlight">k</span> or <span class="bold highlight">shift + ←</span></td>
    <td class="px1">Previous track</td>
  </tr>
  <tr>
    <td><span class="bold highlight">?</span></td>
    <td class="px1">Show keyboard shortcuts</td>
  </tr>
</table>
