
<h2>Keyboard Shortcuts</h2>
<table class="p responsive">
  <tr>
    <td class="bold highlight">space</td>
    <td class="px1">Play/Pause</td>
  </tr>
  <tr>
    <td class=""><span class="bold highlight">j</span> or <span class="bold highlight">shift + →</span></td>
    <td class="px1">Next Track</td>
  </tr>
  <tr>
    <td><span class="bold highlight">k</span> or <span class="bold highlight">shift + ←</span></td>
    <td class="px1">Previous Track</td>
  </tr>
  <tr>
    <td><span class="bold highlight">g s</span></td>
    <td class="px1">Go to Stream</td>
  </tr>
  <tr>
    <td><span class="bold highlight">g m</span></td>
    <td class="px1">Go to My Tracks</td>
  </tr>
  <tr>
    <td><span class="bold highlight">g l</span></td>
    <td class="px1">Go to My Likes</td>
  </tr>
  <tr>
    <td><span class="bold highlight">g p</span></td>
    <td class="px1">Go to My Playlists</td>
  </tr>
  <tr>
    <td><span class="bold highlight">?</span></td>
    <td class="px1">Show keyboard shortcuts</td>
  </tr>
</table>
