
<h2>Keyboard Shortcuts</h2>
<table class="py1">
  <tr>
    <td class="py1 bold blue border-bottom">space</td>
    <td class="p1 border-bottom">Play/Pause</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">j</span> or <span class="bold blue">shift + →</span></td>
    <td class="p1 border-bottom">Next Track</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">k</span> or <span class="bold blue">shift + ←</span></td>
    <td class="p1 border-bottom">Previous Track</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">g s</span></td>
    <td class="p1 border-bottom">Go to Stream</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">g m</span></td>
    <td class="p1 border-bottom">Go to My Tracks</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">g l</span></td>
    <td class="p1 border-bottom">Go to My Likes</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">g p</span></td>
    <td class="p1 border-bottom">Go to My Playlists</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">/</span></td>
    <td class="p1 border-bottom">Search</td>
  </tr>
  <tr>
    <td class="py1 border-bottom"><span class="bold blue">?</span></td>
    <td class="p1 border-bottom">Show keyboard shortcuts</td>
  </tr>
</table>
