
<a href="/playing" class="tappad-s h3 borbot bor-gray2" ng-controller="PlayerCtrl" ng-show="player.tracks">Now Playing</a>

<div ng-controller="BookmarkCtrl" class="borbot bor-gray2">
  <div ng-controller="ListCtrl">
    <h2 class="pt pr pl h3">
      Bookmarks
      <a href="" ng-click="toggleListIsEditable()" ng-show="!listIsEditable" class="gray5 ml p reg">Edit</a>
      <a href="" ng-click="toggleListIsEditable()" ng-show="listIsEditable" class="ml p reg">Done</a>
    </h2>
    <ul>
      <li ng-repeat="bookmark in bookmarks" class="tappad-s">
        <a ng-href="{{bookmark.url}}" class="dib lh3 text">{{bookmark.title}}</a>
        <a href="" ng-show="listIsEditable" ng-click="removeBookmark($index)" class="ml">Remove</a>
      </li>
    </ul>
  </div>
</div>

<a href="/settings" class="tappad-s gray5 borbot bor-gray2" ng-show="token"><i class="dib icon icon-geo-settings h3 lh3 mr vert-align-middle"></i><span class="dib lh3 vert-align-middle">Settings</span></a>

<p class="pad gray5">
  Powered by SoundCloud.<br>
  Made with love by <a href="http://jxnblk.com" target="_blank">Jxnblk</a>.
</p>
