<nav class="bold leading-3 clearfix border-bottom border-light-gray">
  <div class="left">
    <a href="/" class="mr1">
      <span ng-show="token">Stream</span>
      <span ng-hide="token">Home</span>
    </a>
    <span ng-show="token">
      <a ng-href="/{{me.permalink}}/sets" class="mr1">Playlists</a>
      <a ng-href="/{{me.permalink}}/likes" class="mr1">Likes</a>
      <a href="/search" class="h3 mr1"><i class="ss-icon ss-search"></i> Search</a>
    </span>
  </div>
  <div class="right">
    <a ng-show="token" href="/{{me.permalink}}" class="mr1">
      <span ng-show="me.username.length < 13">{{me.username}}</span>
      <span ng-show="me.username.length >= 13">Me</span>
    </a>
    <span ng-hide="token">
      <a href="" ng-click="connect();" class="button button-blue">Connect</a>
    </span>
  </div>

</nav>

      <!--
      <a ng-href="/{{me.permalink}}/info">Info</a>
      <a href="/about" class="h3">About</a>
      <a href="/settings" class="h3">Settings</a>
      -->
