<div id="setlist">
  <div class="py2">
    <h1 class="mb2"><a ng-href="/{{ track.user.permalink }}" class="dark-gray">{{ track.user.username }}</a></h1>
    <h1 class="h0"><a ng-href="/{{ track.user.permalink }}/{{ track.permalink }}" ng-click="player.play(track)" class="dark-gray">{{ track.title }}</a></h1>
  </div>
  <div class="py2">
    <a href="" ng-click="like(track)" ng-hide="track.user_favorite" class="button button-box-blue mr1 popin">
      <div class="icon" icon="heart"></div>
      Like
    </a>
    <a href="" ng-click="unlike(track)" ng-show="track.user_favorite" class="button button-box-blue mr1 popin">
      <div class="icon red" icon="heart"></div>
      Liked
    </a>
    <a ng-show="track" ng-href="https://twitter.com/intent/tweet?text=Check%20out%20{{track.title}}%20by%20{{track.user.username}}%20on%20@SoundRad.&amp;url=http%3A%2F%2Fsoundrad.com%2F{{track.user.permalink}}%2F{{track.permalink}}" target="_blank"
      class="button button-box-blue mr1">
      <div class="icon" icon="twitter"></div>
      Tweet
    </a>

    <span class="h3 leading-3 mobile-block">
      <span class="mr1">Posted {{ track.created_at | fromNow }}</span>
      <span class="mr1">{{ track.favoritings_count }} Likes</span>
      <span class="">{{ track.playback_count }} Plays</span>
    </span>
  </div>

  <div ng-repeat="track in tracks" class="border-bottom">
    <a ng-href="/{{ track.user.permalink }}/sets/{{ track.permalink }}" class="block dark-gray">
      <h3 class="leading-3">{{ track.title }}</h3>
    </a>
  </div>

</div>

<div ng-include src="'/partials/_loading.html'"></div>

