<div ng-repeat="track in tracks" ng-controller="PlayerCtrl">

  <div ng-include src="'/partials/_player.html'"></div>


  <div ng-controller="TrackCtrl">
            
      <div class="tappad bobo">
        <a ng-click="like(track.id)" ng-hide="track.user_favorite" class="gry h4 marr"><i class="icon i-jxn-heart"></i></a>
        <a ng-click="unlike(track.id)" ng-show="track.user_favorite" class="prime h4 marr"><i class="icon i-jxn-heart"></i></a>        
        <a ng-click="toggleLoop()" ng-class="{gry: !player.loop}" class="h4 marr"><i class="icon i-jxn-loop"></i></a>      
        <!-- <a href="" ng-click="openModal(mysets, {type: 'setlist', doThis: 'addToSet', track: {{track}}})" class="gry h4 marr"><i class="icon i-jxn-add"></i></a> -->
        <span class="gry h6 fr">{{track.playback_count}} Plays | {{track.favoritings_count}} Likes</span>
      </div>
      
      <!-- <a ng-href="/{{track.user.permalink}}" class="tappad bobo gry h4">{{track.user.username}} <i class="fr h6 i-jxn-carat"></i></a> -->
      
      <div class="pad bobo">
        <h6 class="gry">{{track.created_at | fromNow}}</h6> <!-- don't think this is standard datetime format -->
        <p class="maxw640" ng-bind-html-unsafe="track.description | richtext"></p>
      </div>
      
      <a ng-href="{{track.permalink_url}}" target="_blank" class="tappad tappad-gry bobo gry">View on SoundCloud <i class="fr h6 i-jxn-carat"></i></a>

      <!-- <pre class="pad">{{tracks | json}}</pre> -->
      
  </div> <!-- TrackCtrl -->

</div>