<!-- Tracklist -->

<div ng-show="contentLoading" class="tappad gray5 txtcen">Loading...</div>
<div ng-hide="contentLoading">

  <div ng-show="set" class="media borbot bor-gray2">
    <div class="img">
      <a href="" ng-click="player.play(tracks, 0)" ng-hide="player.playing || player.paused" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play"></i></a>
      <a href="" ng-click="player.play(tracks, player.i)" ng-show="player.paused" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play"></i></a>
      <a href="" ng-click="player.pause(player.playing)" ng-show="player.playing" class="db sq4 lh4 txtcen"><i class="icon icon-geo-pause"></i></a>
    </div>
    <div class="bd">
      <h2 class="lh4">{{set.title}}</h2>
    </div>
  </div>

  <div ng-repeat="track in tracks" ng-switch="!!track.tracks">
    <div ng-switch-when="false" class="media maxhi4 borbot bor-gray2">
      <div class="img">
        <a href="" ng-click="player.play(tracks, $index)" ng-hide="player.playing.id == track.id" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play"></i></a>
        <a href="" ng-click="player.pause(track)" ng-show="player.playing.id == track.id" class="db sq4 lh4 txtcen"><i class="icon icon-geo-pause"></i></a>
      </div>
      <div class="bd posrel minhi4">
        <a ng-href="/{{track.user.permalink}}" class="db mt-5 gray5 truncate pr">{{track.user.username}}</a>
        <!-- <a ng-href="/{{track.user.permalink}}/{{track.permalink}}" class="db h3 b text truncate pr">{{track.title}}</a> -->
        <a href="" ng-click="preload('/' + track.user.permalink + '/' + track.permalink, track)" class="db h3 b text truncate pr">{{track.title}}</a>
        <!-- preload('/' + track.user.permalink + '/' + track.permalink) -->
        <div class="posabs right0 top0 bot0 pr lh4" ng-controller="TrackCtrl">  
          
          <div class="dib lh4 bg-gray2" ng-show="showActions" ng-include src="'/partials/_trackactions.html'"></div>
          <!-- <a href="" class="gray5 sm lh4" ng-click="toggleActions()"><i class="icon icon-geo-lines"></i></a> -->
          
        </div>
      </div>
    </div>
    
    <div ng-switch="isDetail">
      <div ng-switch-when="true" ng-controller="TrackCtrl">
        
        <div ng-switch="!!setTrack" class="tappad-s borbot bor-gray2">
    
          <div ng-switch-when="false" class="overhide">
            <a class="fl tappad gray5" href="" ng-click="like(track.id)" ng-hide="track.user_favorite"><i class="icon icon-geo-heart"></i></a>
            <a class="fl tappad" href="" ng-click="unlike(track.id)" ng-show="track.user_favorite"><i class="icon icon-geo-heart"></i></a>
          </div>
          
          <div ng-switch-when="true" class="overhide">
            <a class="fl tappad gray5" href="" ng-click="like(setTrack.id, 'isSetTrack')" ng-hide="setTrack.user_favorite">Like</a>
            <a class="fl tappad" href="" ng-click="unlike(setTrack.id, 'isSetTrack')" ng-show="setTrack.user_favorite">Unlike</a>
          </div>
        
        </div> 
        <a ng-href="{{track.permalink_url}}" target="_blank" class="db tappad-s gray5 borbot bor-gray2">View on SoundCloud</a>
      </div>
    </div>

    <div ng-switch-when="true" class="">
      <div id="{{track.id}}" class="media borbot bor-gray2">
        <div class="img">
          <a href="" ng-click="[preload('/' + track.user.permalink + '/sets/' + track.permalink, track.tracks), player.play(track.tracks, 0)]" ng-hide="player.tracks == track.tracks && (player.playing || player.paused)" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play"></i></a>

<!--
          <a href="" ng-click="player.play(track.tracks, 0)" ng-hide="player.tracks == track.tracks && (player.playing || player.paused)" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play"></i></a>
          <a href="" ng-click="player.play(player.tracks, player.i)" ng-hide="player.tracks != track.tracks || player.playing" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play"></i></a>
          <a href="" ng-click="player.pause(player.playing)" ng-show="player.tracks == track.tracks && player.playing" class="db sq4 lh4 txtcen"><i class="icon icon-geo-pause"></i></a>
-->
        </div>
        <div class="bd">
          <a ng-href="/{{track.user.permalink}}" class="db mt-5 gray5 truncate pr">{{track.user.username}}</a>
          <!-- <a ng-href="/{{track.user.permalink}}/sets/{{track.permalink}}" class="db h3 b text truncate pr">{{track.title}}</a> -->
          <a href="" ng-click="preload('/' + track.user.permalink + '/sets/' + track.permalink, track.tracks)" class="db h3 b text truncate pr">{{track.title}}</a>
          <div ng-show="showActions" ng-include src="'/partials/_trackactions.html'" ng-controller="TrackCtrl"></div>
        </div>
      </div>
      
    </div>

  </div>


</div>

<div class="tappad mb txtcen overhide">
  <a href="" ng-show="hasPrevPage" ng-click="prevPage()" class="tappad fl">Previous</a>
  <a href="" ng-show="hasNextPage" ng-click="nextPage()" class="tappad fr">Next</a>
  
  <a href="" ng-show="streamNextPage" ng-click="showMoreStream()" class="db tappad">Show More</a>
</div>
