
<div ng-switch="!!setTrack" class="">
  <div ng-switch-when="false">
    <!-- <a class="dib lh2 gray5 anim-pop-in" href="" ng-click="like(track.id)" ng-hide="track.user_favorite"><i class="icon icon-heart"></i></a>
    <a class="dib lh2 anim-pop-in" href="" ng-click="unlike(track.id)" ng-show="track.user_favorite"><i class="icon icon-heart"></i></a> -->
    <a class="btn btn-sm btn-gray anim-pop-in mr" href="" ng-click="like(track)" ng-hide="track.user_favorite"><i class="icon icon-heart sm"></i> Like</a>
    <a class="btn btn-sm btn-prime anim-pop-in mr" href="" ng-click="unlike(track)" ng-show="track.user_favorite"><i class="icon icon-heart sm"></i> Liked</a>
    <!-- <div>{{ track }}</div> -->

    <div>
      <p>Add to playlist:</p>
      <a href=""
        ng-repeat="playlist in userPlaylists"
        ng-click="addToPlaylist(track, playlist)">
          {{ playlist.title }}
      </a>
    </div>
    
    <div ng-show="set && viewUser == me">
      <!-- need to hide this for non-user sets -->
      [{{ set.title }}] - 
      <a href="" ng-click="removeFromPlaylist(track, set.id)">Remove from Playlist</a>
    </div>

  </div>  
  <div ng-switch-when="true">
    <!--
<a class="dib lh2 gray5 anim-pop-in" href="" ng-click="like(setTrack.id, 'isSetTrack')" ng-hide="setTrack.user_favorite"><i class="icon icon-heart"></i></a>
    <a class="dib lh2 anim-pop-in" href="" ng-click="unlike(setTrack.id, 'isSetTrack')" ng-show="setTrack.user_favorite"><i class="icon icon-heart"></i></a>
-->
  </div>
</div>

<!-- <a href="" ng-click="toggleActions()" class="pl pr gray5 h3">✖</a> -->