<div ui-sortable="sortableOptions" ng-model="tracks" ng-controller="TrackCtrl">
  <div ng-repeat="track in tracks" 
    class="border-bottom"
    ng-class="{'is-active bg1': player.tracks[player.i].id == track.id, 'fadeout': isRemoving == track.id }">
    
    <div class="draggable bar-4 px1 bg-white">
      <div class="right bar-4 bar-4-align">
        <a href="" ng-click="toggleRemove()" ng-hide="removeIsOpen" class="btn text popin">
            <i class="ss-icon ss-delete"></i>
        </a>
        <div class="inline-block fadein" ng-show="removeIsOpen">
          Remove this track?
          <a href="" ng-click="removeFromPlaylist(track, set)" class="btn btn-red mr1 ml1">Remove</a>
          <a href="" ng-click="toggleRemove()" class="text">Cancel</a>
        </div>
      </div>
      <div class="">
        <p class="small truncate">{{ track.user.username }}</p>
        <h3 class="truncate">{{ track.title }}</h3>
      </div>
    </div>
  </div>

</div>
