<div class="overlay" ng-click="toggleDropdown()" ng-show="dropdownIsOpen && !flashMessage"></div>

<div class="dropdown inline-block">
  <a href="" ng-click="toggleDropdown()" class="h2 btn btn-text popin">
    <i ng-hide="flashMessage" class="ss-icon ss-ellipsis"></i>
    <span ng-show="flashMessage" class="small fadeout-delay">{{ flashMessage }}</span>
  </a>
  <div class="dropdown-body dropdown-body-top dropdown-body-right bold mr1 white bg-highlight rounded fadein" ng-class="{'is-open': dropdownIsOpen }">
    <ul class="ul clearfix menu menu-reverse rounded" ng-hide="addToPlaylistIsOpen || shareIsOpen || flashMessage">
      <li>
        <a href="" ng-click="toggleDropdown()" class="small">Close</a>
      </li>
      <li>
        <a href=""
          ng-click="like(track)" ng-hide="track.user_favorite"
          class="popin">
            <i class="ss-icon ss-heart"></i> Like
        </a>
      </li>
      <li>
        <a href=""
          ng-click="unlike(track)" ng-show="track.user_favorite"
          class="is-active popin">
            <i class="ss-icon ss-heart"></i> Liked
        </a>
      </li>
      <li>
        <a href="" ng-click="toggleAddToPlaylist()" class="">
            Add to Playlist
        </a>
      </li>
      <!-- <li>
        <a href="" ng-click="toggleShare()" class="">
          Share
        </a>
      </li> -->
      <li>
        <a href="/{{ track.user.permalink }}/{{ track.permalink }}" class="">More Details</a>
      </li>
    </ul>
    <div 
      ng-show="addToPlaylistIsOpen"
      ng-include src="'/partials/_add-to-playlist.html'"></div>
    <div ng-show="shareIsOpen" class="p1">
      <a href="">Tweet</a>
      <a href="">http://soundrad.com/{{ track.user.permalink }}/{{ track.permalink }}</a>
    </div>
  </div>
</div>
