<div class="py2">
  <h1 class="h2 regular"><a ng-href="/{{ track.user.permalink }}" class="dark-gray">{{ track.user.username }}</a></h1>
  <h1><a ng-href="/{{ track.user.permalink }}/{{ track.permalink }}" ng-click="player.play(track)" class="dark-gray">{{ track.title }}</a></h1>

</div>
<div class="py2">
  <a href="" ng-click="like(track)" ng-hide="track.user_favorite" class="button button-small button-box-blue mr1 popin">
    <div class="icon" icon="heart"></div>
    Like
  </a>
  
  <a href="" ng-click="unlike(track)" ng-show="track.user_favorite" class="button button-small button-box-blue mr1 popin">
    <div class="icon red" icon="heart"></div>
    Liked
  </a>

    <!--
    <div class="overlay" ng-show="addToPlaylistIsOpen" ng-click="toggleAddToPlaylist()"></div>
    <div class="inline-block dropdown">
      <a href="" ng-click="toggleAddToPlaylist()" class="btn btn-prime mr0 transition" ng-class="{'btn-secondary': flashMessage}">
        <span ng-hide="flashMessage">Add to Playlist</span>
        <span ng-show="flashMessage" class="fadeout-delay">{{ flashMessage }}</span>
      </a>
      <div class="dropdown-body dropdown-body-top clearfix bold bg-highlight rounded popin"
        ng-class="{'is-open': addToPlaylistIsOpen}"
        ng-include src="'/partials/_add-to-playlist.html'">
      </div>
      <div ng-show="flashMessage" ng-include src="'/partials/_flash-message.html'"></div>
    </div>
    -->

  <a ng-show="track" ng-href="https://twitter.com/intent/tweet?text=Check%20out%20{{track.title}}%20by%20{{track.user.username}}%20on%20@SoundRad.&amp;url=http%3A%2F%2Fsoundrad.com%2F{{track.user.permalink}}%2F{{track.permalink}}" target="_blank"
    class="button button-small button-box-blue mr1">
    <div class="icon" icon="twitter"></div>
    Tweet
  </a>

</div>

<!--
<input type="text" value="http://soundrad.com/{{ track.user.permalink }}/{{ track.permalink }}" onclick="this.focus();this.select();" class="input" readonly />
-->

<div class="h2 leading-3 py2">
  <span class="mr1">Posted {{ track.created_at | fromNow }}</span>
  <span class="mr1">{{ track.favoritings_count }} Likes</span>
  <span class="">{{ track.playback_count }} Plays</span>
</div>

<div class="py2">
  <p class="mb2" ng-show="track.description" ng-bind-html-unsafe="track.description | richtext"></p>
  <a ng-href="{{track.permalink_url}}" target="_blank" class="h3 py1">View on SoundCloud</a>
</div>

