<a href ng-click="like(track)" ng-hide="track.user_favorite" class="button button-tiny-text button-text-gray mr1 popin">
  <div class="icon" icon="heart"></div>
  Like
</a>
<a href ng-click="unlike(track)" ng-show="track.user_favorite" class="button button-tiny-text button-text-gray mr1 popin">
  <div class="icon red" icon="heart"></div>
  Liked
</a>

<!--
<div class="dropdown inline-block">
  <a href ng-click="toggleAddToPlaylist()" class="btn btn-text">
    <i class="ss-icon ss-plus"></i>
  </a>
  <div 
    class="dropdown-body dropdown-body-right bold white bg-highlight rounded fadein"
    ng-class="{'is-open': addToPlaylistIsOpen }"
    ng-include src="'/partials/_add-to-playlist.html'"></div>
</div>
-->

<a href="/{{ track.user.permalink }}/{{ track.permalink }}" class="button button-tiny-text button-text-gray">Details</a>

