<section class="py4">
  <h1>About</h1>
  <h1 class="h0 mb2"><span class="blue">Sound</span>Rad</h1>

  <div class="leading-2">
    <p class="mb1">I set out with a few goals for myself when I first started making SoundRad. First off, I wanted to learn some Javascript. Before March 2013, I barely knew a thing, and now, I know slightly more.</p>
    <p class="mb1">Secondly, I love the content on SoundCloud, but the site is ridiculously slow and cumbersome to navigate. I figured there might be a way to do a better job with network and front-end performance to build an experience more focused on the content, i.e. the sounds.</p>
    <p class="mb1">I also wanted an opportunity to experiment with UI, IX and navigation patterns – musical discovery seemed like a good challenge to take on.</p>
    <p class="mb1">That said, I hope you enjoy SoundRad. It's something I've had a lot of fun working on, and I've learned a lot along the way.</p>
    <p class="mb4">Cheers,<br>Jackson</p>
    <p>
      Made with love by <a href="//jxnblk.com" target="_blank">Jxnblk</a>.
      Powered by SoundCloud.
      <a href="http://github.com/jxnblk/soundrad" target="_blank">View on Github</a>
    </p>
  </div>
</section>
