
<div ng-switch="!!me">

  <div ng-switch-when="true" ng-controller="StreamCtrl">
    <h1 class="pl pr lh3 borbot bor-gray2 h2-m reg">Stream</h1>
    <div ng-include src="'partials/_tracklist.html'" ng-controller="TracklistCtrl"></div>
  </div>
  
  <div ng-switch-when="false" class="pad2">
    <h1 class="h1-res">SoundRad</h1>
    <h2 class="h2-res reg mb">A radically simpler & faster SoundCloud player</h2>
    <a href="#" ng-click="connect()" class="p btn btn-big btn-prime">Connect to SoundCloud</a>
    
    <div class="mt2 bor bor-gray2 rc pad">
      <h2 class="reg">Recommended Listening:</h2>
      <a href="/jxnblk" class="tappad dib">Jxnblk</a>
      <a href="/mrsjxn" class="tappad dib">Mrsjxn</a>
      <a href="/mr_mrs" class="tappad dib">Mr Mrs</a>
      <a href="/xlr8r" class="tappad dib">XLR8R</a>
      <a href="/ghostly" class="tappad dib">Ghostly</a>
      <a href="/ssense" class="tappad dib">SSENSE</a>
      <a href="/factmag" class="tappad dib">FACT magazine</a>
    </div>
  </div>
  
  
  
</div>