
<div ng-switch="!!me">

  <div ng-switch-when="true" ng-controller="StreamCtrl">
    <!-- <h1 class="pl pr lh3 borbot bor-gray2 h2 reg">Stream</h1> -->
    <div ng-include src="'partials/_tracklist.html'" ng-controller="TracklistCtrl"></div>
  </div>
  
  <div ng-switch-when="false" class="pad2">
    <h1 class="h1-res">SoundRad</h1>
    <h2 class="h2-res reg mb2">A radically simpler & faster SoundCloud player</h2>
    <a href="#" ng-click="connect()" class="h3 btn btn-big btn-prime mb2">Connect to SoundCloud</a>
    <pre>{{ token }} | {{ me | json }}</pre>
    
    <div class="overhide mt2">

      <div class="wi50-m fl mb2 pr2 borbox">
        <h3>Designed Around Content</h3>
        <p class="h6">Audio is the content – no images, waveforms, or comments.</p>
      </div>

      <div class="wi50-m fl mb2">
        <h3>Fewer Network Requests</h3>
        <p class="h6">Find music to listen to faster. Performance matters.</p>
      </div>

    </div>

    <div class="overhide mb">

      <div class="wi50-m fl mb2 pr2 borbox">
        <h3>Navigate Faster</h3>
        <p class="h6">Persistent navigation and contextual links help you discover more music.</p>
      </div>

      <div class="wi50-m fl mb2">
        <h3>Responsive Web Design</h3>
        <p class="h6">Make your window as small or as big as you want.</p>
      </div>

    </div>

    <div class="mt2 mb2">
      <p class="gray5 mb">Made with love by <a href="http://jxnblk.com" target="_blank">Jxnblk</a>. Powered by SoundCloud. Fork me on <a href="http://github.com/jxnblk/soundrad" target="_blank">Github</a>.</p>
      <a href="" ng-click="debugConnect()" class="gray5">Connect with iOS7</a>
    </div>

    <!-- <div class="mt2 bor bor-gray2 rc">
      <h2 class="reg pad">Recommended Listening:</h2>
      <a href="/jxnblk" class="tappad-s bortop borbot bor-gray2">Jxnblk</a>
      <a href="/mrsjxn" class="tappad-s borbot bor-gray2">Mrsjxn</a>
      <a href="/mr_mrs" class="tappad-s borbot bor-gray2">Mr Mrs</a>
      <a href="/xlr8r" class="tappad-s borbot bor-gray2">XLR8R</a>
      <a href="/ghostly" class="tappad-s borbot bor-gray2">Ghostly</a>
      <a href="/ssense" class="tappad-s borbot bor-gray2">SSENSE</a>
      <a href="/factmag" class="tappad-s">FACT magazine</a>
    </div> -->
  </div>
  
  
  
</div>