<div class="flex flex-align-center px1 white bg-dark-gray">
  <div class="cell sm-show">
    <button class="h5 button-icon-dark"
      title="Skip to previous track"
      ng-click="player.previous()">
      <svg class="icon" icon="previous"></svg>
    </button>
  </div>
  <div class="cell">
    <button class="h3 py2 button-icon-dark"
      title="Play"
      ng-click="player.playPause()">
      <span ng-show="player.audio.paused">
        <svg class="icon" icon="play"></svg>
      </span>
      <span ng-hide="player.audio.paused">
        <svg class="icon" icon="pause"></svg>
      </span>
    </button>
  </div>
  <div class="cell sm-show">
    <button class="h5 button-icon-dark"
      title="Skip to next track"
      ng-click="player.next()">
      <svg class="icon" icon="next"></svg>
    </button>
  </div>
  <div class="cell cell-1 px1">
    <div class="h4 flex flex-align-center">
      <div class="cell cell-1 col-6 bold py1">
        {{ player.playing.user.username || player.paused.user.username || '&nbsp;' }}
        &ndash;
        {{ player.playing.title || player.paused.title || '&nbsp;' }}
      </div>
      <div class="h6 cell">
        {{ currentTime | prettyTime }}
      </div>
      <div class="h6 cell ml1 sm-show">
        {{ audio.duration | prettyTime }}
      </div>
    </div>
    <progress class="progress"
      value="{{ currentTime / audio.duration || 0 }}"
      ng-click="player.seek($event)">
      {{ currentTime / audio.duration }}
    </progress>
  </div>
</div>
