<form ng-submit="search()" class="py4">
  <input ng-model="searchQuery" placeholder="Search" autofocus class="input full-width" />
</form>

<div ng-show="searchResults" infinite-scroll="searchMore()" class="mb3">
  <div ng-repeat="item in searchResults" class="border-bottom" ng-show="item.kind == 'track' || item.kind == 'user' || item.kind == 'playlist'">
    <a ng-show="item.kind == 'user'" ng-href="/{{ item.permalink }}" class="py2">
      <!--
      <i class="table-cell px1 ss-icon ss-user text"></i> 
      -->
      <h2>{{ item.username }}</h2>
    </a>
    <a ng-show="item.kind == 'track'" ng-href="/{{ item.user.permalink }}/{{ item.permalink }}" class="py2">
      <p class="small">{{ item.user.username }}</p>
      <h3>{{ item.title }}</h3>
    </a>
    <a ng-show="item.kind == 'playlist'" ng-href="/{{ item.user.permalink }}/sets/{{ item.permalink }}" class="py2">
      <!--
      <i class="table-cell ss-icon ss-list px1 text"></i> 
      -->
      <div class="py2">
        <p class="small">{{ item.user.username }}</p>
        <h3>{{ item.title }}</h3>
      </div>
    </a>

    <!-- <pre ng-show="item.kind != 'user' && item.kind != 'track' && item.kind != 'playlist' && item.kind != 'group'">{{ item | json }}</pre> -->
  </div>
</div>

<div ng-include src="'/partials/_loading.html'"></div>

