<div class="py2 border-bottom">
  <h1 class="inline-block mr1">Settings</h1>
  <a href="/about">About</a>
</div>

<section class="table py2 border-bottom">
  <div class="table-cell">
    <h2>Connected as: {{me.username}}.</h2>
  </div>
  <div class="table-cell right-align">
    <a href ng-click="logOut()" class="button button-box-blue">Sign Out</a>
  </div>
</section>

<section class="table py2 border-bottom">
  <div class="table-cell">
    <h2>Bookmarklet</h2>
    <p class="mb1">Reload any SoundCloud page in SoundRad. Drag this bookmarklet to your bookmarks bar to install:</p>
  </div>
  <div class="table-cell right-align">
    <a href="javascript:location.href='http://soundrad.com'+window.location.pathname" class="button button-box-blue">Radify</a>
  </div>
</section>

<section class="py2" ng-include src="'/partials/_keyboard-shortcuts.html'"></section>


