<div class="p1">

  <h1 class="h2 responsive">Settings</h1>

  <section class="py2">
    <h2>Bookmarklet</h2>
    <p class="mb1">Reload any SoundCloud page in SoundRad. Drag this bookmarklet to your bookmarks bar to install:</p>
    <a href="javascript:location.href='http://soundrad.com'+window.location.pathname" class="btn btn-prime h3">Radify</a>
  </section>

  <section class="py2">
    <h2>Keyboard Shortcuts</h2>
    <p class="mb1">Pause/Play: <code>p</code></p>
    <p class="mb1">Next track: <code>j</code></p>
    <p class="mb1">Previous track: <code>k</code></p>
  </section>

  <p class="py2">
    Connected as: {{me.username}}.
    <a href="#" ng-click="logOut()" class="">Sign Out</a>
  </p>

</div>
