
<div class="pad2">
  <h1 class="reg mb2">Settings</h1>
  
  <h2 class="h3 mb">Theme:</h2>
  
  <div class="mb2">
    <a href="" ng-click="changeTheme('Default')" class="btn-sm dib mb" ng-class="{'btn-prime rc': theme == 'theme-default'}">Default</a>
    <a href="" ng-click="changeTheme('Science')" class="btn-sm dib mb" ng-class="{'btn-prime rc': theme == 'theme-science'}">Science</a>
    <a href="" ng-click="changeTheme('BLK')" class="btn-sm dib mb" ng-class="{'btn-prime rc': theme == 'theme-blk'}">BLK</a>
  </div>
  
  <div ng-show="token" class="mb2">
    <p class="h3 bold mb">Connected as: {{me.username}}</p>
    <a href="#" ng-click="logOut()" class="p btn btn-sm btn-prime">Sign Out</a>
  </div>
  
  <div ng-show="!token">
    <h2 class="h3 mb">Debug Connect (for iOS7)</h2>
    <a href="" ng-click="debugConnect()" class="btn btn-sm btn-prime dib mb2">Connect</a>
  </div>
<!--
  <a href="" ng-click="toggleDebug()" class="btn btn-sm dib mb2" ng-class="{'btn-prime rc': connectDebug == true}">
    <span ng-show="connectDebug == true">On</span>
    <span ng-show="connectDebug == false">Off</span>
  </a>
-->

</div>
