<div class="container" ng-controller="TracklistCtrl">
  <ul class="list-reset mb0">
    <li class="flex flex-align-center flex-justify-between border-bottom button-nav-light"
      ng-class="{ 'is-active': player.tracks[player.index] == track }"
      ng-repeat="track in tracks">
      <a href class="cell cell-1 col-11 h5 button dark-gray" ng-click="player.play($index)">
        {{ track.user.username }} - {{ track.title }}
      </a>
      <a href ng-click="toggleLike()" class="cell button button-icon button-nav-light" target="_blank">
        <svg class="icon" icon="heart"></svg>
      </a>
      <a ng-href="{{ track.permalink_url }}?auto_play=false" class="cell button button-icon button-nav-light" target="_blank">
        <svg class="icon" icon="chevronRight"></svg>
      </a>
    </li>
  </ul>

  <a href class="center py3 button block button-nav-light"
    ng-hide="isLoading"
    ng-click="nextPage()">
      Load More
  </a>

  <div class="center button block py3" ng-show="isLoading">Loading...</div>

</div>

<!--
Widget link: 
<a ng-href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ track.id }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true" class="button button-narrow button-nav-light" target="_blank">
-->

