
<div class="posrel media" ng-controller="TracklistCtrl">
  <div class="img">
    <a href="" ng-click="player.play(track)" ng-hide="player.playing.id == track.id" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play db anim-pop-in"></i></a>
    <a href="" ng-click="player.pause(track)" ng-show="player.playing.id == track.id" class="db sq4 lh4 txtcen"><i class="icon icon-geo-pause db anim-pop-in"></i></a>
  </div>
  <div class="bd posrel minhi4 mb">
    <a ng-href="/{{track.user.permalink}}" class="db mt-5 gray5 h3 truncate pr">{{track.user.username}}</a>
    <p class="h2 b text mb pr">{{track.title}}</p>
    <div class="mb" ng-controller="TrackCtrl">
      <a class="btn btn-sm btn-gray anim-pop-in mr" href="" ng-click="like(track.id)" ng-hide="track.user_favorite"><i class="icon icon-geo-heart sm"></i> Like</a>
      <a class="btn btn-sm btn-prime anim-pop-in mr" href="" ng-click="unlike(track.id)" ng-show="track.user_favorite"><i class="icon icon-geo-heart sm"></i> Liked</a>
<!--
      <a class="btn btn-sm btn-gray anim-pop-in mr" href="" ng-click="like(track.id)" ng-hide="track.user_favorite">Like</a>
      <a class="btn btn-sm btn-prime anim-pop-in mr" href="" ng-click="unlike(track.id)" ng-show="track.user_favorite">Liked</a>
-->

      <a ng-show="track" ng-href="https://twitter.com/intent/tweet?text=Check%20out%20{{track.title}}%20by%20{{track.user.username}}%20on%20@SoundRad.&amp;url=http%3A%2F%2Fsoundrad.com%2F{{track.user.permalink}}%2F{{track.permalink}}" target="_blank"
        class="btn btn-sm btn-gray">
        Tweet  
      </a>
    </div>
    <div class="pr">
      <p class="mb gray5">
        <span class="mr">Posted {{track.created_at | fromNow}}</span>
        <span class="mr">{{track.favoritings_count}} Likes</span>
        <span class="">{{track.playback_count}} Plays</span>
      </p>
      <p class="maxwi4" ng-show="track.description" ng-bind-html-unsafe="track.description | richtext"></p>
      <a ng-href="{{track.permalink_url}}" target="_blank" class="db lh3 gray5">View on SoundCloud</a>
    </div>
  </div>
</div>
      
<!-- <a ng-href="{{track.permalink_url}}" target="_blank" class="db tappad-s gray5 bortop borbot bor-gray2">View on SoundCloud</a> -->
