<div ng-controller="TracklistCtrl">
  
  <div class="media borbot bor-gray2">
    <div class="img">
      <a href="" ng-click="player.play(tracks, 0)" ng-hide="player.playing || player.paused" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play db anim-pop-in"></i></a>
      <a href="" ng-click="player.play(tracks, player.i)" ng-show="player.paused" class="db sq4 lh4 txtcen gray5"><i class="icon icon-geo-play db anim-pop-in"></i></a>
      <a href="" ng-click="player.pause(player.playing)" ng-show="player.playing" class="db sq4 lh4 txtcen"><i class="icon icon-geo-pause db anim-pop-in"></i></a>
    </div>
    <div class="bd">
      <h2 class="lh4">{{set.title}}</h2>
    </div>
  </div>
  
  <div ng-include src="'/partials/_tracklist.html'"></div>

</div>
