<div ng-controller="TracklistCtrl">
  
  <div class="media borbot bor-gray2">
    <div class="img">
      <a href="" ng-click="player.play(tracks, 0)" ng-hide="player.playing || player.paused" class="db sq4 lh4 txtcen gray5"><i class="icon icon-play db anim-pop-in"></i></a>
      <a href="" ng-click="player.play(tracks, player.i)" ng-show="player.paused" class="db sq4 lh4 txtcen gray5"><i class="icon icon-play db anim-pop-in"></i></a>
      <a href="" ng-click="player.pause(player.playing)" ng-show="player.playing" class="db sq4 lh4 txtcen"><i class="icon icon-pause db anim-pop-in"></i></a>
    </div>
    <div class="bd">
      <h2 class="lh4">{{set.title}}</h2>
    </div>
  </div>
  
  <div ng-include src="'/partials/_tracklist.html'"></div>
      
  <div class="pad overhide" ng-show="set.description">
    <p class="sm gray5">Posted {{set.created_at | fromNow}}</p>
    <p class="maxwi4" ng-bind-html-unsafe="set.description | richtext"></p>
  </div>
   
  <a ng-href="{{set.permalink_url}}" target="_blank" class="db tappad-s gray5 bortop borbot bor-gray2">View on SoundCloud</a>


</div>
