<div>
  
  <div class="borbot bor-gray2 overhide" ng-hide="$state.current.name == 'user.track'">
    <h2 class="reg pt-5 pr pb-5 pl">{{viewUsername}}</h2>
    <div class="tappad">
      <a ng-href="/{{viewUser}}" class="btn-sm fl mb-5" ng-class="{'btn-prime rc': $state.current.name == 'user'}">Tracks</a>
      <a ng-href="/{{viewUser}}/sets" class="btn-sm fl mb-5" ng-class="{'btn-prime rc': $state.current.name == 'user.sets'}">Sets</a>
      <a ng-href="/{{viewUser}}/likes" class="btn-sm fl mb-5" ng-class="{'btn-prime rc': $state.current.name == 'user.likes'}">Likes</a>
      <a ng-href="/{{viewUser}}/info" class="btn-sm fl mb-5" ng-class="{'btn-prime rc': $state.current.name == 'user.info'}">Info</a>
    </div>
  </div>
  
  <div ui-view></div>
  
  <div ng-switch="$state.current.name == 'user'">
    <div ng-switch-when="true" ng-include src="'/partials/_tracklist.html'" ng-controller="TracklistCtrl"></div>
  </div>
  
</div>  
