<div ng-controller="TracklistCtrl">
  
  <div class="y4 tappad px1 border-bottom">
    <h2 class="inline-block mr1">Editing: {{set.title}}</h2>
    
      <a href="" ng-hide="isEditable" ng-click="toggleIsEditable()" class="btn btn-text">Edit</a>
      <a href="" ng-show="isEditable" ng-click="toggleIsEditable()" class="btn btn-text">Done</a>
    
  </div>
  
  <div ng-include src="'/partials/_tracklist-edit.html'"></div>
      
  <div class="" ng-show="">
    <p class="">Posted {{set.created_at | fromNow}}</p>
    <p class="" ng-bind-html-unsafe="set.description | richtext"></p>
  </div>
   
  <a ng-href="{{set.permalink_url}}" target="_blank" class="block y4 tappad center">View on SoundCloud</a>


</div>
