<div class="border-bottom" ng-cloak ng-show="userData.id != me.id && $state.current.name != 'user.track'">  
  <h1 class="px1"><a ng-href="/{{ viewUser }}" class="text">{{ viewUsername }}&nbsp;</a></h1>
  <div class="bar-3 px0 navbar">
    <a ng-href="/{{viewUser}}/sets"
      class="" ng-class="{'text': $state.current.name != 'user.sets'}">
        Playlists
    </a>
    <a ng-href="/{{viewUser}}/likes"
      class="" ng-class="{'text': $state.current.name != 'user.likes'}">
        Likes
    </a>
    <a ng-href="/{{viewUser}}/info"
      class="" ng-class="{'text': $state.current.name != 'user.info'}">
        Info
    </a>
  </div>
</div>

<div ui-view></div>
  
<div ng-show="$state.current.name == 'user'" ng-include src="'/partials/_tracklist.html'" ng-controller="TracklistCtrl"></div>
