
<div class="borbot bor-gray2">
  <h2 class="h3 reg pad dib">Following ({{userData.followings_count}})</h2>
  <div class="fr pad">
    <select class="fr marto" ng-model="sortFollowings" ng-options="sort as sort.human for sort in sorts"></select>
  </div>
</div>
<div ng-show="contentLoading" class="tappad gray5 txtcen">Loading...</div>
<a ng-href="/{{following.permalink}}" ng-repeat="following in followings | orderBy: sortFollowings.json :sortFollowings.reverse" class="db tappad-s borbot bor-gray2">
  {{following.username}}
</a>
