<div class="border-bottom">
  <div class="bar-4 px1">
    <h1 class="lh-small">{{ viewUsername }}&nbsp;</h1>
    <p>    
      <span class="small text mr1">{{userData.followers_count}} Followers</span>
      <span class="small text">{{userData.followings_count}} Following</span>
    </p>
  </div>

  <div class="bar-3 px0 navbar" ng-cloak ng-show="userData.id != me.id">
    <a ng-href="/{{viewUser}}"
      class="" ng-class="{'text': $state.current.name != 'user'}">
        Tracks
    </a>
    <a ng-href="/{{viewUser}}/sets"
      class="" ng-class="{'text': $state.current.name != 'user.sets'}">
        Playlists
    </a>
    <a ng-href="/{{viewUser}}/likes"
      class="" ng-class="{'text': $state.current.name != 'user.likes'}">
        Likes
    </a>
    <!-- <a ng-href="/{{viewUser}}/info"
      class="" ng-class="{'text': $state.current.name != 'user.info'}">
        Info
    </a> -->
  </div>
</div>

<div ui-view></div>
  
<div ng-show="$state.current.name == 'user'" ng-include src="'/partials/_tracklist.html'" ng-controller="TracklistCtrl"></div>
