
@import 'basscss';
@import 'basscss-progress';
@import 'basscss-color-progress';

.progress::-webkit-progress-bar {
  background-color: transparent
}

.icon {
  position: relative;
  top: .125em;
}

:root {
  --font-family: 'SF Compact Text', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  /*
  --heading-font-family: 'SF UI Display', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  */

  --button-font-size: var(--h5);

  --body-color: var(--slate);
  --blue: #007bbd;
  --red: #ff6200;
  --green: #00a865;
  --slate: #172C36;
  --brightblue: #33b8ff;
}

