<!doctype html>
<html lang="en" ng-app="scat">
<head>
  <meta charset="utf-8">
  <title>Scat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />  
  <link rel="stylesheet" href="http://jxnblk.com/i/icons.css" />
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>


<div ng-controller="NavCtrl">

  <header class="topbar">
    <a href="#/"><h1 class="logo h3 bold"><i class="i-jxn-scat icon"></i></h1></a>


    <!-- for debugging  -->
    <!-- <span>Playing: {{player.current.title}}</span> -->

      
    <nav class="nav">
      <!-- <a href="/stream" class="js-nav js-nav-stream" data-nav="/me/activities/tracks/affiliated">Stream</a> -->
      <!-- <a href="#jxnblk" class="js-nav js-nav-jxnblk active" data-nav="/users/jxnblk/tracks">Me</a> -->
      
      
      
      <!-- <a href="#/likes" class="">Likes</a> -->
      <!-- <a href="#/sets" class="">Sets</a> -->
      <a href="" class="" ng-click="toggleDropmenu()"><i class="i-jxn-cog icon"></i></a>
      <div class="dropmenu-container" ng-model="dropmenuOpen">
        
        <ul class="dropmenu" ng-show="dropmenuOpen"> 
          <li><a href="#jxnblk">Jxnblk</a></li>
          <li><a href="#jxnblk/favorites">Jxnblk's Likes</a></li>
          <li><a href="#mrsjxn">Mrsjxn</a></li>
          <li><a href="#mrsjxn/favorites">Mrsjxn's Likes</a></li>
          <li><a href="#xlr8r">XLR8R</a></li>
          <li><a href="#ghostly">Ghostly</a></li>

          <li>        
            <div class="user-meta">
              <p ng-show='connected'>{{username}} Connected</p>
              <a href="" class="sc-connect btn" ng-click="connect();" ng-hide="connected">Connect</a>
              <!-- Make a sign out button -->
            </div>
          </li>
          
          <!-- <li><button ng-click="pauseAll()">Kill All</button></li> -->
          
          <!-- For Debugging -->
          <!-- <li><button ng-click="checkVar(scget)">CheckVar</button></li> -->
          <li>Powered by SoundCloud</li>
        </ul>
      </div>
    
    </nav>
  </header>

  <div class="view" ng-view></div>
  

</div><!-- NavCtrl -->

  <script src="//connect.soundcloud.com/sdk.js"></script>
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
