
progress {
  width: 100%;
  height: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  padding: .5rem 0;
  cursor: pointer;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: var(--darken-3);
}

progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: var(--blue);
}

