<div ng-controller="TracklistCtrl">

<h1>Test _tracklist partial</h1>

<!--
<div class="sc-tracklist"ng-class="{loading: tracksLoading}">

  <div ng-hide="tracks.length">No tracks for {{scget}}</div>

  <div class="track" ng-repeat="track in tracks">
    <div class="jx-player media" ng-model="track.playing">
      <a href="" class="jx-play" ng-click="playTrack($scope, track)" ng-hide="track.playing"><i class="i-jxn-play"></i></a>
      <a href="" class="jx-pause" ng-click="pauseTrack($scope)" ng-show="track.playing"><i class="i-jxn-pause"></i></a>
      
      <div class="bd">
        <p class="jx-artist">{{track.user.username}}</p>
        <h2 class="jx-title">{{track.title}}</h2>
        <div class="jx-time-span">
          <div class="jx-buffer"></div>
          <div class="jx-played"></div>
        </div>
      </div>
      
    </div>
  </div>
  
  <a href="" class="show-more" ng-click="showMore()" ng-hide="!tracks.length">Show More</a>
  
  
</div>
-->

</div>