
<div class="container px2 py4">

  <h1>About</h1>
  <p class="h3">
    SoundRad is a lightweight player that runs on the SoundCloud API.
    It’s meant to be faster and simpler than using SoundCloud.com
    and only includes a limited feature set.
  </p>

  <p class="h3">
    Built with
    <a href="http://angularjs.org" target="_blank">AngularJS</a>
    and 
    <a href="http://basscss.com" target="_blank">Basscss</a>,
    SoundRad is open source and the source code is hosted on
    <a href="http://github.com/jxnblk/SoundRad" target="_blank">Github</a>.
  </p>


</div>
