
/* Disclosure drawer/hover module */

.disclosure-group {
  position: relative;
}

.disclosure-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  width: 0;
  transition: width .2s ease-out;
  background-color: var(--light-gray);
  background-color: white;
}

.disclosure-group.is-open .disclosure-body {
  width: 16rem;
}

/* Hover mode */
@media (--breakpoint-md) {
  .disclosure-group {
    position: relative;
  }
  .disclosure-body {
    position: static;
    width: 12rem;
    opacity: 0;
    transition: opacity .2s ease-out;
    background-color: transparent;
  }
  .disclosure-group.is-open .disclosure-body {
    width: 16rem;
  }
  .disclosure-group:hover .disclosure-body {
    opacity: 1;
  }
}

