* {
  margin: 0;
  padding: 0; }

.no-touch-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.topbar {
  color: #999999;
  background-color: white;
  border-bottom: 1px solid #eeeeee; }
  .topbar nav a {
    color: #999999; }

.prime {
  color: #ff6600; }

.gry {
  color: #999999; }

.mdgry {
  color: #bbbbbb; }

.ltgry {
  color: #f6f6f6; }

.wht {
  color: white; }

.bg-prime {
  background-color: #ff6600; }

.bg-text {
  background-color: #444444; }

.bg-gry {
  background-color: #999999; }

.bg-mdgry {
  background-color: #bbbbbb; }

.bg-ltgry {
  background-color: #f6f6f6; }

.boto {
  border-top: 1px solid #eeeeee; }

.bor {
  border-right: 1px solid #eeeeee; }

.bobo {
  border-bottom: 1px solid #eeeeee; }

.bol {
  border-left: 1px solid #eeeeee; }

.view {
  background-color: white; }

.loading-indicator {
  color: #bbbbbb; }

a.tappad:hover {
  background-color: #f6f6f6; }

.track {
  border-bottom: 1px solid #eeeeee; }

.track:first-child {
  border-top: 1px solid #eeeeee; }

.jx-play:hover {
  background-color: #f6f6f6; }

.jx-pause {
  color: white;
  background-color: #ff6600; }

.jx-pause:hover {
  background-color: #ff751a; }

.jx-artist {
  color: #999999; }

.playing .jx-artist {
  color: white; }

.playing .jx-title {
  color: white; }

.playing .jx-time {
  color: white; }

body {
  font-size: 100%;
  line-height: 1.5;
  color: #444; }

a {
  text-decoration: none;
  color: #ff6600; }
  a.active {
    color: #444444; }

ul {
  list-style: none; }

.btn {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: white;
  background-color: #ff6600;
  border-radius: .125rem;
  padding: 0 16px; }
  .btn.small {
    height: 2rem;
    line-height: 2rem; }
  .btn:hover {
    background-color: #ff751a; }

.pill {
  color: white;
  background-color: #bbbbbb;
  border-radius: .125rem;
  padding: 0 4px; }

nav a.btn.small {
  height: 2rem;
  line-height: 2rem;
  margin: .5rem;
  color: white; }
  nav a.btn.small:hover {
    background-color: #ff751a; }

.subhead, footer {
  padding: 0 16px;
  height: 48px;
  line-height: 48px; }

.rot-180 {
  display: block;
  -webkit-transform: rotate(180deg); }

.show-more {
  display: block;
  height: 3rem;
  line-height: 3rem;
  text-align: center; }

body {
  font-family: "freight-sans-pro", Helvetica, sans-serif; }

h1, .h1 {
  font-size: 64px; }

h2, .h2 {
  font-size: 48px; }

h3, .h3 {
  font-size: 32px; }

h4, .h4 {
  font-size: 24px; }

h5, .h5 {
  font-size: 20px; }

h6, .h6 {
  font-size: 16px; }

small, .sm {
  font-size: 12px; }

.tiny {
  font-size: 10px; }

.lh1 {
  line-height: 1; }

@media screen and (max-width: 448px) {
  .h1mo {
    font-size: 32px; }

  .h2mo {
    font-size: 28px; }

  .h3mo {
    font-size: 24px; }

  .h4mo {
    font-size: 20px; }

  .h5mo {
    font-size: 16px; }

  .h6mo {
    font-size: 16px; }

  .smmo {
    font-size: 12px; }

  .tinymo {
    font-size: 10px; } }
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.b {
  font-weight: 600; }

.reg {
  font-weight: 400; }

.caps {
  text-transform: uppercase;
  letter-spacing: .1em; }

@font-face {
  font-family: 'jxn';
  src: url("../icons/jxn.eot");
  src: url("../icons/jxn.eot?#iefix") format("embedded-opentype"), url("../icons/jxn.woff") format("woff"), url("../icons/jxn.ttf") format("truetype"), url("../icons/jxn.svg#jxn") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'jxn';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="i-jxn-"] {
*/
.i-jxn-scat, .i-jxn-carat, .i-jxn-close, .i-jxn-loading, .i-jxn-link, .i-jxn-skip, .i-jxn-forward, .i-jxn-pause, .i-jxn-play, .i-jxn-cog, .i-jxn-comments, .i-jxn-action, .i-jxn-repost, .i-jxn-loop, .i-jxn-show-more, .i-jxn-items, .i-jxn-heart, .i-jxn-spades, .i-jxn-dashboard, .i-jxn-badge, .i-jxn-star, .i-jxn-sun, .i-jxn-tag, .i-jxn-thumbs-up, .i-jxn-trash, .i-jxn-shirt, .i-jxn-unlocked, .i-jxn-volume-off, .i-jxn-wifi, .i-jxn-windows, .i-jxn-wrench, .i-jxn-waveform, .i-jxn-user, .i-jxn-skull, .i-jxn-shuffle, .i-jxn-cog-fat, .i-jxn-search, .i-jxn-search-fat, .i-jxn-scissors, .i-jxn-plug-in, .i-jxn-print, .i-jxn-pin, .i-jxn-phone, .i-jxn-people, .i-jxn-pencil, .i-jxn-compose, .i-jxn-paint-brush, .i-jxn-paint-roller, .i-jxn-brush, .i-jxn-eject, .i-jxn-expand, .i-jxn-gift, .i-jxn-pop-out, .i-jxn-compass-arrow, .i-jxn-music, .i-jxn-minimize, .i-jxn-map, .i-jxn-key, .i-jxn-info, .i-jxn-home, .i-jxn-home-box, .i-jxn-presentation, .i-jxn-food, .i-jxn-flower, .i-jxn-facebook, .i-jxn-download, .i-jxn-no, .i-jxn-crosshairs, .i-jxn-history, .i-jxn-contrast, .i-jxn-burn, .i-jxn-check-square, .i-jxn-check-circle, .i-jxn-cat, .i-jxn-box, .i-jxn-categories, .i-jxn-bone, .i-jxn-twitter-bird, .i-jxn-bird-simple, .i-jxn-bar-graph, .i-jxn-add-square, .i-jxn-add-circle, .i-jxn-add {
  font-family: 'jxn';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.i-jxn-scat:before {
  content: "\53"; }

.i-jxn-carat:before {
  content: "\21"; }

.i-jxn-close:before {
  content: "\e072"; }

.i-jxn-loading:before {
  content: "\e000"; }

.i-jxn-link:before {
  content: "\e001"; }

.i-jxn-skip:before {
  content: "\e002"; }

.i-jxn-forward:before {
  content: "\e003"; }

.i-jxn-pause:before {
  content: "\e004"; }

.i-jxn-play:before {
  content: "\e005"; }

.i-jxn-cog:before {
  content: "\e006"; }

.i-jxn-comments:before {
  content: "\e007"; }

.i-jxn-action:before {
  content: "\e008"; }

.i-jxn-repost:before {
  content: "\e009"; }

.i-jxn-loop:before {
  content: "\e00a"; }

.i-jxn-show-more:before {
  content: "\e00b"; }

.i-jxn-items:before {
  content: "\e00c"; }

.i-jxn-heart:before {
  content: "\e00d"; }

.i-jxn-spades:before {
  content: "\e00e"; }

.i-jxn-dashboard:before {
  content: "\e00f"; }

.i-jxn-badge:before {
  content: "\e010"; }

.i-jxn-star:before {
  content: "\e011"; }

.i-jxn-sun:before {
  content: "\e012"; }

.i-jxn-tag:before {
  content: "\e013"; }

.i-jxn-thumbs-up:before {
  content: "\e014"; }

.i-jxn-trash:before {
  content: "\e015"; }

.i-jxn-shirt:before {
  content: "\e016"; }

.i-jxn-unlocked:before {
  content: "\e017"; }

.i-jxn-volume-off:before {
  content: "\e018"; }

.i-jxn-wifi:before {
  content: "\e019"; }

.i-jxn-windows:before {
  content: "\e01a"; }

.i-jxn-wrench:before {
  content: "\e01b"; }

.i-jxn-waveform:before {
  content: "\e01c"; }

.i-jxn-user:before {
  content: "\e01d"; }

.i-jxn-skull:before {
  content: "\e01e"; }

.i-jxn-shuffle:before {
  content: "\e01f"; }

.i-jxn-cog-fat:before {
  content: "\e020"; }

.i-jxn-search:before {
  content: "\e021"; }

.i-jxn-search-fat:before {
  content: "\e022"; }

.i-jxn-scissors:before {
  content: "\e023"; }

.i-jxn-plug-in:before {
  content: "\e024"; }

.i-jxn-print:before {
  content: "\e025"; }

.i-jxn-pin:before {
  content: "\e026"; }

.i-jxn-phone:before {
  content: "\e027"; }

.i-jxn-people:before {
  content: "\e028"; }

.i-jxn-pencil:before {
  content: "\e029"; }

.i-jxn-compose:before {
  content: "\e02a"; }

.i-jxn-paint-brush:before {
  content: "\e02b"; }

.i-jxn-paint-roller:before {
  content: "\e02c"; }

.i-jxn-brush:before {
  content: "\e02d"; }

.i-jxn-eject:before {
  content: "\e02e"; }

.i-jxn-expand:before {
  content: "\e02f"; }

.i-jxn-gift:before {
  content: "\e030"; }

.i-jxn-pop-out:before {
  content: "\e031"; }

.i-jxn-compass-arrow:before {
  content: "\e032"; }

.i-jxn-music:before {
  content: "\e033"; }

.i-jxn-minimize:before {
  content: "\e034"; }

.i-jxn-map:before {
  content: "\e035"; }

.i-jxn-key:before {
  content: "\e036"; }

.i-jxn-info:before {
  content: "\e037"; }

.i-jxn-home:before {
  content: "\e038"; }

.i-jxn-home-box:before {
  content: "\e039"; }

.i-jxn-presentation:before {
  content: "\e03a"; }

.i-jxn-food:before {
  content: "\e03b"; }

.i-jxn-flower:before {
  content: "\e03c"; }

.i-jxn-facebook:before {
  content: "\e03d"; }

.i-jxn-download:before {
  content: "\e03e"; }

.i-jxn-no:before {
  content: "\e03f"; }

.i-jxn-crosshairs:before {
  content: "\e040"; }

.i-jxn-history:before {
  content: "\e041"; }

.i-jxn-contrast:before {
  content: "\e042"; }

.i-jxn-burn:before {
  content: "\e043"; }

.i-jxn-check-square:before {
  content: "\e044"; }

.i-jxn-check-circle:before {
  content: "\e045"; }

.i-jxn-cat:before {
  content: "\e046"; }

.i-jxn-box:before {
  content: "\e047"; }

.i-jxn-categories:before {
  content: "\e048"; }

.i-jxn-bone:before {
  content: "\e049"; }

.i-jxn-twitter-bird:before {
  content: "\e04a"; }

.i-jxn-bird-simple:before {
  content: "\e04b"; }

.i-jxn-bar-graph:before {
  content: "\e04c"; }

.i-jxn-add-square:before {
  content: "\e04d"; }

.i-jxn-add-circle:before {
  content: "\e04e"; }

.i-jxn-add:before {
  content: "\e04f"; }

@-webkit-keyframes transpulse {
  0% {
    opacity: .2; }

  50% {
    opacity: .4; }

  100% {
    opacity: .2; } }

@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(0.2); }

  80% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes slideleft {
  from {
    -webkit-transform: translate3d(100%, 0, 0); }

  to {
    -webkit-transform: translate3d(0%, 0, 0); } }

.anim-hack {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0); }

.anim-pulse {
  -webkit-animation: transpulse 2s infinite; }

.anim-popin {
  -webkit-animation: popin .1s; }

.anim-spin {
  -webkit-animation: spin 4s linear infinite; }

.anim-slideleft {
  -webkit-animation: slideleft .2s ease; }

.loading {
  -webkit-animation: transpulse 2s infinite; }

.slideleft-show-setup, .slideleft-hide-setup {
  -webkit-transition: all .2s linear; }

.slideleft-show-setup {
  -webkit-transform: translate(100%, 0); }

.slideleft-show-setup.slideleft-show-start {
  -webkit-transform: translate(0, 0); }

.slideleft-hide-setup {
  -webkit-transform: translate(0, 0); }

.slideleft-hide-setup.slideleft-hide-start {
  -webkit-transform: translate(100%, 0); }

.fl {
  float: left; }

.fr {
  float: right; }

.pad {
  padding: 16px; }

.padto {
  padding-top: 16px; }

.padr {
  padding-right: 16px; }

.padbo {
  padding-bottom: 16px; }

.padl {
  padding-left: 16px; }

.pad- {
  padding: 8px; }

.tappad {
  display: block;
  line-height: 48px;
  padding: 0 16px;
  position: relative; }

.tappad .icon {
  position: relative;
  top: 3px; }

.lrpad {
  padding: 0 16px; }

.lrpadout4 {
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -4px;
  margin-right: -4px; }

.mar {
  margin: 16px; }

.marto {
  margin-top: 16px; }

.marr {
  margin-right: 16px; }

.marbo {
  margin-bottom: 16px; }

.marl {
  margin-left: 16px; }

.mar2 {
  margin: 32px; }

.marto2 {
  margin-top: 32px; }

.marr2 {
  margin-right: 32px; }

.marbo2 {
  margin-bottom: 32px; }

.marl2 {
  margin-left: 32px; }

.center {
  margin: 0 auto; }

.disb {
  display: block; }

.disib {
  display: inline-block; }

.w100 {
  width: 100%; }

.w80 {
  width: 80%; }

.w60 {
  width: 60%; }

.w40 {
  width: 40%; }

.maxw32 {
  max-width: 32px; }

.maxw48 {
  max-width: 48px; }

.maxw64 {
  max-width: 64px; }

.maxw320 {
  max-width: 320px; }

.maxw640 {
  max-width: 640px; }

.htap {
  height: 48px; }

.img24 {
  width: 24px;
  height: 24px; }

.img32 {
  width: 32px;
  height: 32px; }

.img48 {
  width: 48px;
  height: 48px; }

.img64 {
  width: 64px;
  height: 64px; }

.img96 {
  width: 96px;
  height: 96px; }

.img128 {
  width: 128px;
  height: 128px; }

.overhide {
  overflow: hidden; }

.posrel {
  position: relative; }

.right-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 8px;
  z-index: 512;
  cursor: pointer; }

.rightcol {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 320px; }

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  line-height: 48px;
  z-index: 1024; }

.view {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .view.leftcol {
    margin-right: 320px; }

.logo {
  margin-right: 16px;
  height: 48px; }

.nav {
  height: 48px;
  float: right; }
  .nav a {
    display: block;
    padding: 0 8px;
    float: left;
    height: 48px; }
    .nav a:hover {
      background-color: #f6f6f6; }
    .nav a i {
      font-size: 24px; }

input[type="text"] {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #dddddd;
  border-radius: 4px; }

.loading-indicator {
  position: absolute;
  z-index: 1024;
  width: 64px;
  height: 64px;
  top: 40%;
  left: 50%;
  margin-left: -32px; }
  .loading-indicator i {
    width: 64px;
    height: 64px;
    line-height: 64px;
    display: block;
    font-size: 64px; }

/* JxPlayer */
.player .play,
.player .pause {
  float: left; }

.player .bd {
  overflow: hidden; }

.sq48 {
  width: 48px;
  height: 48px; }

.sq64 {
  width: 64px;
  height: 64px; }

.hi48 {
  height: 48px; }

.hi64 {
  height: 64px; }

.w100 {
  width: 100%; }

.lh48 {
  line-height: 48px; }

.lh64 {
  line-height: 64px; }

.center {
  text-align: center; }

.disb {
  display: block; }

.z64 {
  z-index: 64; }

.z128 {
  z-index: 128; }

.z256 {
  z-index: 256; }

.posrel {
  position: relative; }

.posabs {
  position: absolute; }

.to0 {
  top: 0; }

.r0 {
  right: 0; }

.bo0 {
  bottom: 0; }

.l0 {
  left: 0; }

/*
.jx-player {
  position: relative;
  overflow: hidden;
  .bd {
    overflow: hidden;
    margin-left: 64px;
    position: relative;
    //background-color: pink;
  }
}

.jx-player.loading {
  -webkit-animation: transpulse 2s linear infinite;
}
*/
/* Play/Pause Button */
/*
.jx-play i, .jx-pause i {
  -webkit-animation: popin .2s linear;
}
*/
/*

.jx-play,
.jx-pause {
  float: left;
  //color: #fff;
  height: 20px;
  width: 20px;
  padding: 22px;
  position: relative;
  z-index: 256;
}

.jx-play i,
.jx-pause i {
  font-size: 20px;
  line-height: 1;
  display: block;
  width: 20px;
  height: 20px;
}

.jx-play i {
  margin-left: 2px;
}

.jx-play:active,
.jx-pause:active {
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.6);
}

*/
/* Scrubber */
/*

.bd {
  height: 64px;
  position: relative;
}

.jx-time-span {
  width: 100%;
  height: 64px;
}

.jx-scrubber {
  width: 100%;
  height: $m4;
  position: absolute;
  z-index: 320;
}

.jx-buffer,
.jx-played {
  height: $m4;
  position: absolute;
  top: 0;
  //z-index: 256;
}

.jx-artist {
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: 8px;
  height: 24px;
  z-index: 256;
}

.jx-title {
  position: absolute;
  top: 26px;
  left: 8px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  text-overflow: ellipsis; 
  text-wrap: none;
  white-space: no-wrap;
  z-index: 256;
}

.jx-time {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 256;
}

*/
.jx-toggle-actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 12px;
  z-index: 512;
  cursor: pointer; }
  .jx-toggle-actions i {
    line-height: 64px; }

.jx-actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 48px;
  z-index: 384; }

.jx-buffer,
.jx-played {
  width: 0; }
