* {
  margin: 0;
  padding: 0; }

.no-touch-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.topbar {
  color: #999999;
  background-color: white;
  border-bottom: 1px solid #eeeeee; }
  .topbar nav a {
    color: #999999; }

.logo {
  color: #ff6600; }

.subhead, footer {
  color: #999999;
  border-bottom: 1px solid #eeeeee; }

.view {
  background-color: white; }

.loading-indicator {
  color: #bbbbbb; }

.track {
  border-bottom: 1px solid #eeeeee; }

.track:first-child {
  border-top: 1px solid #eeeeee; }

.jx-play {
  color: #bbbbbb;
  /* background-color: $gray4; */ }

.jx-play:hover {
  background-color: #f6f6f6; }

.jx-pause {
  color: white;
  background-color: #ff6600; }

.jx-pause:hover {
  background-color: #ff751a; }

.jx-buffer {
  background-color: #f6f6f6; }

.jx-played {
  background-color: #dddddd; }

/*
.playing .jx-played {
  border-right: 1px solid $prime;
  opacity: .4;
}
*/
body {
  font-size: 100%;
  line-height: 1.5;
  color: #444; }

a {
  text-decoration: none;
  color: #ff6600; }

.btn {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: white;
  font-weight: bold;
  background-color: #ff6600;
  border-radius: .125rem;
  padding: 0 16px; }
  .btn .small {
    height: 2rem;
    line-height: 2rem; }
  .btn:hover {
    background-color: #ff751a; }

nav a.btn.small {
  height: 2rem;
  line-height: 2rem;
  margin: .5rem;
  color: white; }
  nav a.btn.small:hover {
    background-color: #ff751a; }

.subhead, footer {
  padding: 0 16px;
  height: 48px;
  line-height: 48px; }

.rot-180 {
  display: block;
  -webkit-transform: rotate(180deg); }

.show-more {
  display: block;
  height: 3rem;
  line-height: 3rem;
  text-align: center; }

body {
  font-family: "myriad-pro-semi-condensed", "source-sans-pro", "proxima-nova-condensed", "urbana", Helvetica, sans-serif; }

.h1 {
  font-size: 64px; }

.h2 {
  font-size: 48px; }

.h3 {
  font-size: 32px; }

.h4 {
  font-size: 24px; }

.h5 {
  font-size: 16px; }

.h6 {
  font-size: 12px; }

.sm {
  font-size: 12px; }

.tiny {
  font-size: 10px; }

.b {
  font-weight: 700; }

@-webkit-keyframes transpulse {
  0% {
    opacity: .2; }

  50% {
    opacity: .4; }

  100% {
    opacity: .2; } }

@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(0.2); }

  80% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes slideleft {
  from {
    -webkit-transform: translate(100%, 0); }

  to {
    -webkit-transform: translate(0%, 0); } }

.anim-pulse {
  -webkit-animation: transpulse 2s infinite; }

.anim-popin {
  -webkit-animation: popin .1s; }

.anim-spin {
  -webkit-animation: spin 4s linear infinite; }

.anim-slideleft {
  -webkit-animation: slideleft .2s ease; }

.loading {
  -webkit-animation: transpulse 2s infinite; }

.slideleft-show-setup, .slideleft-hide-setup {
  -webkit-transition: all .2s ease; }

.slideleft-show-setup {
  -webkit-transform: translate(100%, 0); }

.slideleft-show-setup.slideleft-show-start {
  -webkit-transform: translate(0, 0); }

.slideleft-hide-setup {
  -webkit-transform: translate(0, 0); }

.slideleft-hide-setup.slideleft-hide-start {
  -webkit-transform: translate(100%, 0); }

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  line-height: 48px;
  padding: 0 8px 0 16px;
  z-index: 1024; }

.logo {
  float: left;
  margin-right: 16px;
  height: 48px; }
  .logo i {
    position: relative; }

.nav {
  height: 48px;
  float: right; }
  .nav a {
    font-weight: 700;
    display: block;
    padding: 0 8px;
    float: left;
    height: 48px; }
    .nav a:hover {
      background-color: #f6f6f6; }
    .nav a i {
      font-size: 24px; }

.js-more-nav {
  background-color: #eeeeee;
  padding: 16px;
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 512;
  display: none; }
  .js-more-nav ul {
    list-style: none; }
  .js-more-nav label {
    display: block;
    font-size: 12px;
    line-height: 12px; }

input[type="text"] {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #dddddd;
  border-radius: 4px; }

.view {
  position: relative;
  top: 48px;
  right: 0;
  bottom: 48px;
  left: 0;
  -webkit-overflow-scrolling: touch; }

.view-heading {
  padding: 0 5%; }

.loading-indicator {
  position: absolute;
  z-index: 1024;
  width: 64px;
  height: 64px;
  top: 40%;
  left: 50%;
  margin-left: -32px; }
  .loading-indicator i {
    width: 64px;
    height: 64px;
    line-height: 64px;
    display: block;
    font-size: 64px; }

.tap-pad {
  display: block;
  line-height: 48px;
  padding: 0 16px; }

/* JxPlayer */
.jx-player {
  position: relative;
  overflow: hidden; }
  .jx-player .bd {
    overflow: hidden;
    margin-left: 64px;
    position: relative; }

.jx-player.loading {
  -webkit-animation: transpulse 2s linear infinite; }

/* Play/Pause Button */
.jx-play i, .jx-pause i {
  -webkit-animation: popin .2s linear; }

.jx-play,
.jx-pause {
  float: left;
  height: 20px;
  width: 20px;
  padding: 22px;
  position: relative;
  z-index: 256; }

.jx-play i,
.jx-pause i {
  font-size: 20px;
  line-height: 1;
  display: block;
  width: 20px;
  height: 20px; }

.jx-play i {
  margin-left: 2px; }

.jx-play:active,
.jx-pause:active {
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.6); }

/* Scrubber */
.bd {
  height: 64px;
  position: relative; }

.jx-time-span {
  width: 100%;
  height: 64px; }

.jx-scrubber {
  width: 100%;
  height: 64px;
  position: absolute;
  z-index: 320; }

.jx-buffer,
.jx-played {
  height: 64px;
  position: absolute;
  top: 0; }

.jx-artist {
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: 16px;
  z-index: 256; }

.jx-title {
  position: absolute;
  top: 26px;
  left: 16px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
  text-wrap: none;
  white-space: no-wrap;
  z-index: 256; }

.jx-time {
  position: absolute;
  top: 4px;
  right: 8px;
  z-index: 256; }

.jx-toggle-actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 8px;
  z-index: 512;
  color: rgba(187, 187, 187, 0.5);
  cursor: pointer; }
  .jx-toggle-actions i {
    line-height: 64px; }

.jx-actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 48px;
  text-align: right;
  z-index: 480;
  line-height: 64px;
  color: white;
  background: rgba(68, 68, 68, 0.8); }
  .jx-actions a {
    font-size: 24px;
    line-height: 64px;
    padding: 0 8px;
    margin: 0 8px;
    color: #bbbbbb; }
    .jx-actions a.active {
      color: #ff6600; }

.jx-buffer,
.jx-played {
  width: 0; }
