<div class="bobo tappad">
  <h4 class="disib">Following <span ng-show="followings">({{followings.length}})</span></h4>

  <select class="fr marto" ng-model="sortFollowings" ng-options="sort as sort.human for sort in sorts"></select>

</div>

<div ng-hide="followings.length || tracksLoading" class="pad show-more">No followings</div>

<ul>
  <!-- orderBy: 'username' -->
  
  <li ng-repeat="following in followings | orderBy: sortFollowings.json :sortFollowings.reverse" ng-model="sortFollowings">
  
    <a ng-href="#/{{following.permalink}}" class="h4 tappad">{{following.username}} ({{following.followers_count}})</a>
    <!-- <pre>{{following | json }}</pre> -->
    
  </li>
</ul>
<div class="show-more padto" ng-show="tracksLoading"><i class="icon i-jxn-loading h3 gry disb center anim-spin"></i></div>
