<div class="w100 maxw320 fr">

  <!-- <div ng-include ng-show="current.tracks" src="'partials/_globalplayer.html'"></div> -->

  <div class="currently-playing posrel bobo overhide" ng-controller="PlayerCtrl" ng-show="player.playing">
    <a ng-href="#{{player.playing.user.permalink}}/{{player.playing.permalink}}" class="tappad overhide htap marr2"><i class="icon i-jxn-play"></i> {{player.playing.title}}</a>
    
    <a href="" ng-click="toggleLoop()" ng-class="{gry: !player.loop}" class="right-icon tappad h4"><i class="icon i-jxn-loop"></i></a>
    <!-- Use this once there's better URL structures in place -->
    <!-- {{current.tracks[current.i].user.permalink}} -- {{current.tracks[current.i].permalink}} -->
  </div>
  
  
  <h6 class="sm caps lrpad marto gry">Bookmarks</h6>
  <ul class="bobo">
    <li><a href="#/jxnblk" class="tappad">Jxnblk</a></li>
    <li><a href="#/mrsjxn" class="tappad">Mrsjxn</a></li>
    <li><a href="#/xlr8r" class="tappad">XLR8R</a></li>
    <li><a href="#/ghostly" class="tappad">Ghostly</a></li>
    
    <li><a href="#/ssense" class="tappad">SSENSE</a></li>
    <li><a href="#/factmag" class="tappad">FACT magazine</a></li>
    
  </ul>
  
  <div ng-show='connected'>
  
    <h6 class="sm caps tappad gry">Accounts: <a href="" ng-click="addConnectedUser()" class="fr">Add Account</a></h6>
    <ul>
      <li ng-repeat="connectedUser in connectedUsers">
        <a href="" ng-click="switchUser($index)" class="tappad" ng-class="{active: connectedUser == username}">
          {{connectedUser}} <span class="fr" ng-show="connectedUser == username"><i class="icon i-jxn-check-circle"></i></span>
        </a>
      </li>
    </ul>
    
    
    <!--
<div class="pad bobo">
      <pre>{{me | json}}</pre>
    </div>
-->
    
  </div>

  
  <p class="sm lrpad gry tappad">Powered by SoundCloud</p>

</div>