<div class="sc-tracklist" ng-controller="PlayerCtrl">

  <div ng-hide="tracks.length || tracksLoading" class="pad show-more">No content</div>

  <div class="track track-{{track.permalink}}" ng-repeat="track in tracks" ng-switch on="track.kind">
    
    <div class="jx-player media" id="{{track.permalink}}" ng-class="{playing: isPlaying(track)}" ng-switch-when="track" ng-controller="TrackCtrl" ng-switch on="isPlaying(track)">
    
      <a href="" class="jx-play no-touch-color" ng-click="playTracks(tracks, $index)" ng-hide="isPlaying(track)"><i class="i-jxn-play"></i></a>
      <a href="" class="jx-pause no-touch-color" ng-click="pauseTrack(track)" ng-show="isPlaying(track)"><i class="i-jxn-pause"></i></a>
      <div class="bd">
        <p class="jx-artist">{{track.user.username}} <span ng-show="track.sharing == 'private'"> [private]</span> <span ng-hide="track.streamable">[Not Streamable]</span></p> <!-- &mdash; {{track.id}} -->
        <p class="h4 h4mo marr2 jx-title b">{{track.title}}</p>
        <!-- To do: find a way to show progress on paused tracks -->
        
        <div class="jx-time-span" ng-switch-when="true">
          <div class="jx-scrubber no-touch-color" ng-click="seekTo($event)"></div>
          <div class="jx-buffer" style="width: {{currentBufferPercentage}}%"></div>
          <div class="jx-played" style="width: {{currentTimePercentage}}%"></div>
          <p class="jx-time sm" ng-show="durationMS">{{currentTimeMS | date:'mm:ss'}} | {{durationMS | date:'mm:ss'}}</p>
        </div>
        
        <a class="jx-toggle-actions" ng-href="#/{{track.user.permalink}}/{{track.permalink}}"><i class="icon i-jxn-carat"></i></a>
        
      </div>
    </div>
    
    <div class="set"  ng-switch-when="playlist">
      <a href="" ng-href="#/{{track.user.permalink}}/sets/{{track.permalink}}" class="disb active overhide pad">
        <p class="lh1">{{track.user.username}}</p>
        <h4 class="disib b">{{track.title}}</h4>
        <span class="fr h5 gry"><i class="icon i-jxn-carat"></i></span>
      </a>
      
      <!--
<div class="track track-{{track.title}}" ng-repeat="setTrack in track.tracks">
        <div class="jx-player media" ng-class="{playing: isPlaying(setTrack)}" ng-controller="TrackCtrl" ng-switch on="isPlaying(setTrack)">
        
          <a href="" class="jx-play no-touch-color" ng-click="playTracks(track.tracks, $index)" ng-hide="isPlaying(setTrack)"><i class="i-jxn-play"></i></a>
          <a href="" class="jx-pause no-touch-color" ng-click="pauseTrack(setTrack)" ng-show="isPlaying(setTrack)"><i class="i-jxn-pause"></i></a>
          <div class="bd">
            <p class="jx-artist">{{setTrack.user.username}}</p>
            <p class="h4 h4mo marr2 jx-title">{{setTrack.title}}</p>
            <div class="jx-time-span" ng-switch-when="true">
              <div class="jx-scrubber no-touch-color" ng-click="seekTo($event)"></div>
              <div class="jx-buffer" style="width: {{currentBufferPercentage}}%"></div>
              <div class="jx-played" style="width: {{currentTimePercentage}}%"></div>
              <p class="jx-time sm">{{currentTimeMS | date:'mm:ss'}} | {{durationMS | date:'mm:ss'}}</p>
            </div>
            <a class="jx-toggle-actions" ng-href="#/{{setTrack.user.permalink}}/{{setTrack.permalink}}"><i class="icon i-jxn-carat"></i></a>
          </div>
        </div>
      </div>
-->
      
    </div><!-- /.set -->
    
    
    
    
  </div><!-- Track -->
  
  <a href="" class="show-more" ng-click="showMore()" ng-hide="tracks.length <= pageOffset || tracksLoading">Show More</a>  
  <div class="show-more padto" ng-show="tracksLoading"><i class="icon i-jxn-loading h3 gry disb center anim-spin"></i></div>
  
  
</div><!-- end sc-tracklist -->