<div class="sc-tracklist" ng-class="{loading: tracksLoading}">

  <div ng-hide="tracks.length || tracksLoading">No tracks for {{scget}}</div>

  <div class="track track-{{track.title}}" ng-repeat="track in tracks">
    <div class="jx-player media">
      <a href="" class="jx-play no-touch-color" ng-click="playTrack(tracks, $index)" ng-hide="player.current.title == track.title"><i class="i-jxn-play"></i></a>
      <a href="" class="jx-pause no-touch-color" ng-click="pauseTrack(track)" ng-show="player.current.title == track.title"><i class="i-jxn-pause"></i></a>
      
      <div class="bd">
        <p class="jx-artist">{{track.user.username}} - {{track.sharing}}</p>
        <p class="h4 b jx-title">{{track.title}}</p>
        
        <!-- To do: find a way to show progress on paused tracks -->
        <div class="jx-time-span" ng-show="player.current.title == track.title">
          <div class="jx-scrubber no-touch-color" ng-click="seekTo($event)"></div>
          <div class="jx-buffer" style="width: {{currentBufferPercentage}}%"></div>
          <div class="jx-played" style="width: {{currentTimePercentage}}%"></div>
          <p class="jx-time sm">{{currentTimeMS | date:'mm:ss'}} | {{durationMS | date:'mm:ss'}}</p>
        </div>
      </div>
      
    </div>
  </div><!-- Track -->
  
  <a href="" class="show-more" ng-click="showMore()" ng-hide="tracks.length <= pageOffset || tracksLoading">Show More</a>
  <div class="show-more" ng-show="tracksLoading">Loading...</div>
  
</div><!-- end sc-tracklist -->