<div ng-switch on="!!connected">

  <div class="w80 center" ng-switch-when="false">
    <!-- <h1 class="lh1 padto"><i class="i-jxn-scat icon prime"></i></h1> -->
    <h1 class="padto b caps">SoundRad</h1>
    <h3 class="marbo">A radically simpler &amp; faster SoundCloud player</h3>
    <a href="" class="sc-connect btn" ng-click="connect();" ng-hide="connected">Connect</a>
  </div>
  
  <div ng-switch-when="true" ng-controller="StreamCtrl">
  
    <div class="bobo overhide">
      <h3>Stream</h3>
    </div>
      
    <div ng-include src="'partials/_tracklist.html'"></div>
    
  </div>

  

</div>