
<div class="overhide bobo pad">
  <p class="">{{set.user.username}}</p>
  <h3 class="">{{set.title}}</h3>
</div>

    <div class="track track-{{track.permalink}}" ng-repeat="track in tracks" ng-include src="'partials/_player.html'"></div>    

  
  <div class="show-more padto" ng-show="tracksLoading"><i class="icon i-jxn-loading h3 gry disb center anim-spin"></i></div>
 
  <div class="tappad bobo" ng-controller="TrackCtrl">
    <a href="" ng-click="like(set.id)" ng-hide="set.user_favorite" class="gry h4 marr"><i class="icon i-jxn-heart"></i></a>
    <a href="" ng-click="unlike(set.id)" ng-show="set.user_favorite" class="prime h4 marr"><i class="icon i-jxn-heart"></i></a>
    <!-- Put repost and Add to Set buttons here -->
  </div>

  <a ng-href="#/{{set.user.permalink}}" class="tappad bobo gry h4" ng-show="set.user">{{set.user.username}} <i class="fr h6 i-jxn-carat"></i></a>

  <div class="pad bobo">
    <h6 class="gry">{{set.created_at | fromNow}}</h6> <!-- don't think this is standard datetime format -->
    <p class="maxw640">{{set.description}}</p>
  </div>

  <a ng-href="{{set.permalink_url}}" target="_blank" class="tappad gry">View on SoundCloud <i class="fr h6 i-jxn-carat"></i></a>

<!-- <pre>{{set | json}}</pre> -->




    
    