<div ng-repeat="track in tracks">

  <div ng-include src="'partials/_player.html'"></div>

  <div ng-controller="TrackCtrl">
            
      <div class="tappad bobo">
        <a href="" ng-click="like(track.id)" ng-hide="track.user_favorite" class="gry h4 marr"><i class="icon i-jxn-heart"></i></a>
        <a href="" ng-click="unlike(track.id)" ng-show="track.user_favorite" class="prime h4 marr"><i class="icon i-jxn-heart"></i></a>        
        <a href="" ng-click="toggleLoop()" ng-class="{gry: !player.loop}" class="h4 marr"><i class="icon i-jxn-loop"></i></a>      
        <!-- <a ng-href="{{track.permalink_url}}" target="_blank" class="gry h4 marr"><i class="icon i-jxn-link"></i></a> -->
        <span class="gry h6 fr">{{track.playback_count}} Plays | {{track.favoritings_count}} Likes</span>
      </div>
      
      <a ng-href="#/{{track.user.permalink}}" class="tappad bobo gry h4">{{track.user.username}} <span class="fr h5"><i class="icon i-jxn-carat"></i></span></a>
      
      <div class="pad bobo">
        <h6 class="gry">{{track.created_at | fromNow}}</h6> <!-- don't think this is standard datetime format -->
        <p class="maxw640">{{track.description}}</p>
      </div>
      
      <a ng-href="{{track.permalink_url}}" target="_blank" class="tappad bobo gry">View on SoundCloud <span class="fr h5"><i class="icon gry i-jxn-carat"></i></span></a>

      <!-- <pre class="pad">{{tracks | json}}</pre> -->
      
  </div> <!-- TrackCtrl -->

</div>