<div ng-controller="TracklistCtrl">


<div class="sc-tracklist" ng-class="{loading: tracksLoading}">

  <div ng-hide="tracks.length">No tracks for {{scget}}</div>

  <div class="track" ng-repeat="track in tracks">
    <div class="jx-player media" ng-model="currentTrack">
      <a href="" class="jx-play" ng-click="playTrack(tracks, $index)" ng-hide="track==currentTrack"><i class="i-jxn-play"></i></a>
      <a href="" class="jx-pause" ng-click="pauseTrack(track)" ng-show="track==currentTrack"><i class="i-jxn-pause"></i></a>
      
      <div class="bd track-{{$index}}">
        <p class="jx-artist">{{track.user.username}}</p>
        <p class="h4 b jx-title">{{track.title}}</p>
        <div class="jx-time-span">
          <div class="jx-buffer"></div>
          <div class="jx-played"></div>
        </div>
      </div>
      
    </div>
  </div><!-- Track -->
  
  <a href="" class="show-more" ng-click="showMore()" ng-hide="!tracks.length">Show More</a>
  
</div>


</div>