<div ng-controller="UserCtrl">

  <div class="bobo overhide">
    <!-- <img ng-src="{{userData.avatar_url}}" class="padto padl disib img32" /> -->
    <h2 class="h3 disib lrpad overhide marr2">{{viewUsername}}</h2>
    <a ng-href="#/{{viewUser}}/following" class="gry disib vermid marl">
      <div class="h5 lh1">{{userData.followings_count || 0}}</div>
      <small class="tiny caps lh1">Following</small>
    </a>
    <div class="gry disib vermid marl">
      <div class="h5 lh1">{{userData.followers_count || 0}}</div>
      <small class="tiny caps lh1">Followers</small>
    </div>

    <div class="tappad">
      <a ng-href="#/{{viewUser}}" class="marr lrpadout4" ng-class="{pill: !viewType}">Tracks</a>
      <a ng-href="#/{{viewUser}}/sets" class="marr lrpadout4" ng-class="{pill: viewType == '/sets'}">Sets</a>
      <a ng-href="#/{{viewUser}}/likes" class="marr lrpadout4" ng-class="{pill: viewType == '/likes'}">Likes</a>
      <!-- <a ng-href="#/{{viewUser}}/following" class="marr lrpadout4" ng-class="{pill: getType == null}">Following</a> -->
    </div>
  </div>
  
<!--
  <div class="bobo pad">
    <pre>{{userData | json}}</pre>
  </div>
-->

  <div ng-switch on="contentType">
    <div ng-switch-when="tracks" ng-include src="'partials/_tracklist.html'"></div>
    <div ng-switch-when="users" ng-include src="'partials/_following.html'"></div> 
    <div ng-switch-when="track" ng-include src="'partials/track.html'"></div> 
    <div ng-switch-when="set" ng-include src="'partials/set.html'"></div> 
  </div>

</div>