<div ng-controller="UserCtrl">

      <!-- <div ng-switch="contentType == 'tracks' || contentType == 'info' || contentType == 'users'"> -->

  <div ng-switch="contentType == 'tracks' || contentType == 'info' || contentType == 'users'">
    <div class="bobo overhide">
      <!-- <img ng-src="{{userData.avatar_url}}" class="padto padl disib img32" /> -->
      <h2 class="h3 lrpad overhide">{{viewUsername}}</h2>
  
      <div class="tappad">
        <a ng-href="#/{{viewUser}}" class="marr lrpadout4" ng-class="{pill: !viewType}">Tracks</a> <!-- ({{userData.track_count || 0}}) -->
        <a ng-href="#/{{viewUser}}/sets" class="marr lrpadout4" ng-class="{pill: viewType == 'sets'}">Sets</a>  <!-- ({{userData.playlist_count || 0}}) -->
        <a ng-href="#/{{viewUser}}/likes" class="marr lrpadout4" ng-class="{pill: viewType == 'likes'}">Likes</a> <!-- ({{userData.public_favorites_count || 0}}) -->
        <a ng-href="#/{{viewUser}}/info" class="marr lrpadout4" ng-class="{pill: viewType == 'info'}">Info</a>
      </div>
    </div>
  </div>

  <div ng-switch="contentType">
  
    <div ng-switch-when="tracks" ng-include src="'partials/_tracklist.html'"></div>
    <div ng-switch-when="users" ng-include src="'partials/_following.html'"></div> 
    <div ng-switch-when="track" ng-include src="'partials/_track.html'"></div> 
    <div ng-switch-when="set" ng-include src="'partials/set.html'"></div>
    
    <div ng-switch-when="info">
      <div class="pad bobo">    
        <a ng-href="#/{{viewUser}}/following" class="gry disib vermid marr">
          <div class="h5 lh1">{{userData.followings_count || 0}}</div>
          <small class="tiny caps lh1">Following</small>
        </a>
        <div class="gry disib vermid marr">
          <div class="h5 lh1">{{userData.followers_count || 0}}</div>
          <small class="tiny caps lh1">Followers</small>
        </div>
      </div>
      
      <div class="pad bobo">
        <p>{{userData.city}}, {{userData.country}}</p>
        <p class="maxw640" ng-bind-html-unsafe="userData.description"></p>
      </div>
      
      <a ng-href="{{userData.permalink_url}}" target="_blank" class="tappad tappad-gry bobo gry h6" ng-show="userData.permalink_url">{{userData.username}} on SoundCloud <i class="fr h6 i-jxn-carat"></i></a>
      
      <a ng-href="{{userData.website}}" target="_blank" class="tappad tappad-gry gry h6" ng-show="userData.website">{{userData.website}} <i class="fr h6 i-jxn-carat"></i></a>
      <!-- <pre>{{userData | json}}</pre> -->
    
    </div>
    
  </div>

</div>