
@import "basscss";
@import "flex-object";

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

button { background-color: transparent }

.button-nav-light {
  color: var(--dark-gray);
}
.button-nav-light:hover {
  /*
  background-color: none;
  */
}
.button-nav-light.is-active {
  background-color: var(--darken-2);
}

.button-icon {
  padding-left: .5em;
  padding-right: .5em;
  text-align: center;
  width: 2em;
}

.button-icon-dark {
  color: white;
}

progress {
  width: 100%;
  height: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  padding: .5rem 0;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: var(--darken-2);
}

progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: var(--blue);
}

.icon {
  width: 1em;
  height: 1em;
  position: relative;
  top: .125em;
}

