
@import "basscss";
@import "flex-object";

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

button { background-color: transparent }

.button-nav-light { color: #333 }

progress {
  width: 100%;
  height: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  padding: .5rem 0;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #eee;
}

progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: #333;
}

.icon {
  width: 1em;
  height: 1em;
}

