
@import "basscss";
@import "flex-object";

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

button { background-color: transparent }

.button-nav-light {
  color: var(--dark-gray);
}
.button-nav-light:hover {
  /*
  background-color: none;
  */
}
.button-nav-light.is-active {
  background-color: var(--darken-2);
}

.button-nav-dark.is-active {
  background-color: var(--blue);
}

.button-nav-dark:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(var(--blue), .75);
}

.button-icon {
  padding-left: .75em;
  padding-right: .75em;
  text-align: center;
  width: 2.5em;
  border-radius: var(--border-radius);
}

.button-icon-dark {
  color: white;
}

.button-icon-dark:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(var(--blue), .75);
}

progress {
  width: 100%;
  height: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  padding: .5rem 0;
  cursor: pointer;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: var(--darken-2);
}

progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: var(--blue);
}

.icon {
  width: 1em;
  height: 1em;
  position: relative;
  top: .125em;
}

:root {
  --dark-gray: #304650;
  --mid-gray: #667680;
  --light-gray: #c3c9c9;
  --lighter-gray: #f3f9f9;
  --darken-1: rgba(#024, .0625);
  --darken-2: rgba(#024, .125);
  --darken-3: rgba(#024, .25);
  --darken-4: rgba(#024, .5);
}

