@-webkit-keyframes transpulse {
  0% { opacity: .2; }
  50% { opacity: .4; }
  100% { opacity: .2; }
}

@-webkit-keyframes popin {
  0% { -webkit-transform: scale(.2); }
  80% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
} 

@-webkit-keyframes spin {
  from  {-webkit-transform: rotate(0deg);}
  to    {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes slideleft {
  from  {-webkit-transform: translate3d(100%, 0, 0);}
  to    {-webkit-transform: translate3d(0%, 0, 0);}
} 

.anim-hack {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.anim-pulse {
  -webkit-animation: transpulse 2s infinite;
}

.anim-popin {
  -webkit-animation: popin .1s;
}

.anim-spin {
  -webkit-animation: spin 4s linear infinite;
}

.anim-slideleft {
  -webkit-animation: slideleft .2s ease;
}

.loading {
  -webkit-animation: transpulse 2s infinite;
}

.trans-all {
  -webkit-transition: all .4s linear;
}



////////////////////////////////////////////////////////////////
// Angular ng-animate animations

// Slide Left
.slideleft-show-setup, .slideleft-hide-setup {
  -webkit-transition: all .2s linear;
}

.slideleft-show-setup {
  -webkit-transform: translate(100%, 0);
}
.slideleft-show-setup.slideleft-show-start {
  -webkit-transform: translate(0, 0);
}

.slideleft-hide-setup {
  -webkit-transform: translate(0, 0);
}
.slideleft-hide-setup.slideleft-hide-start {
  -webkit-transform: translate(100%, 0);
}


// Slide Left
.expandy-show-setup, .epxandy-hide-setup {
  -webkit-transition: all .2s linear;
}

.expandy-show-setup {
  max-height: 0;
}
.slideleft-show-setup.slideleft-show-start {
  max-height: 256px;
}

.slideleft-hide-setup {
  max-height: 256px;
}
.slideleft-hide-setup.slideleft-hide-start {
  max-height: 0;
}




// Slide left view enter
.view-enter-setup, .view-leave-setup {
  -webkit-transition: all .1s linear;
}

.view-enter-setup {
  -webkit-transform: translate(100%, 0);
}
.view-enter-setup.view-enter-start {
  -webkit-transform: translate(0, 0);
}

.view-leave-setup {
  -webkit-transform: translate(0, 0);
}
.view-leave-setup.view-leave-start {
  -webkit-transform: translate(-100%, 0);
}

