@-webkit-keyframes transpulse {
  0% { opacity: .2; }
  50% { opacity: .4; }
  100% { opacity: .2; }
}

@-webkit-keyframes popin {
  0% { -webkit-transform: scale(.2); }
  80% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
} 

@-webkit-keyframes spin {
  from  {-webkit-transform: rotate(0deg);}
  to    {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes slideleft {
  from  {-webkit-transform: translate(100%, 0);}
  to    {-webkit-transform: translate(0%, 0);}
} 

.anim-pulse {
  -webkit-animation: transpulse 2s infinite;
}

.anim-popin {
  -webkit-animation: popin .1s;
}

.anim-spin {
  -webkit-animation: spin 4s linear infinite;
}

.anim-slideleft {
  -webkit-animation: slideleft .2s ease;
}

.loading {
  -webkit-animation: transpulse 2s infinite;
}

// Angular ng-animate animations
.slideleft-show-setup, .slideleft-hide-setup {
  -webkit-transition: all .2s ease;
}

.slideleft-show-setup {
  -webkit-transform: translate(100%, 0);
}
.slideleft-show-setup.slideleft-show-start {
  -webkit-transform: translate(0, 0);
}

.slideleft-hide-setup {
  -webkit-transform: translate(0, 0);
}
.slideleft-hide-setup.slideleft-hide-start {
  -webkit-transform: translate(100%, 0);
}
