body {
  font-size: 100%;
  line-height: 1.5;
  color: #444;
}

a {
  text-decoration: none;
  color: $prime;
}
a:hover {
  //color: #0ac;
}

//      Organize this

.hide {
  //visibility: hidden;
}

.btn {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: $white;
  font-weight: bold;
  background-color: $prime;
  border-radius: .125rem;
  padding: 0 16px;
  .small {
    height: 2rem;
    line-height: 2rem;
  }
  &:hover {
    background-color: lighten($prime, 5%);
  }
}



// This is a hack - need to switch everything to OOCSS
nav a.btn.small {
  height: 2rem;
  line-height: 2rem;
  margin: .5rem;
  color: $white;
  &:hover {
    background-color: lighten($prime, 5%);
  }
}

.subhead, footer {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
}

.rot-180 {
  display: block;
  -webkit-transform: rotate(180deg);
}

.show-more {
  display: block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}



