body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #444;
}

a {
  text-decoration: none;
  color: $prime;
}
a:hover {
  //color: #0ac;
}

//      Organize this


.btn {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  color: $white;
  font-weight: bold;
  background-color: $prime;
  border-radius: .125rem;
  padding: 0 16px;
  &:hover {
    background-color: lighten($prime, 5%);
  }
}




.show-more {
  display: block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}


.dropmenu-container {
  position: relative;
  top: 48px;
  /*
background-color: #eeeeee; // move this to themes
  padding: 16px;

  
  right: 0;
  z-index: 512;
*/
}

.dropmenu {
  position: absolute;
  background-color: #eee;
  right: 0;
  padding: 1rem;
  z-index: 512;
  border-radius: 0 0 .125rem .125rem;
  list-style: none; 
/*   display: none; */
}






