
// LYT

.fl { float: left; }
.fr { float: right; }

.pad   { padding: $m1; }
.padto { padding-top: $m1; }
.padr  { padding-right: $m1; }
.padbo { padding-bottom: $m1; }
.padl  { padding-left: $m1; }

.tappad {
  display: block;
  line-height: $m3;
  padding: 0 $m1;
  position: relative;
}
.tappad .icon {
  position: relative;
  top: 3px;
}

.lrpad {
  padding: 0 $m1;
}

.mar   { margin: $m1; }
.marto { margin-top: $m1; }
.marr  { margin-right: $m1; }
.marbo { margin-bottom: $m1; }
.marl  { margin-left: $m1; }

.mar2   { margin: $m2; }
.marto2 { margin-top: $m2; }
.marr2  { margin-right: $m2; }
.marbo2 { margin-bottom: $m2; }
.marl2  { margin-left: $m2; }

.center { margin: 0 auto; }

.disb { display: block; }
.disib { display: inline-block; }

.w100 { width: 100%; }
.w80  { width:  80%; }
.w60  { width:  60%; }
.w40  { width:  40%; }

.maxw320 { max-width: 320px; }
.maxw640 { max-width: 640px; }

.posrel { position: relative; }



// Get rid of this junk

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $m3;
  line-height: $m3;
  //padding: 0 $m-5;
  z-index: 1024;
}



.logo {
  //float: left;
  margin-right: $m1;
  height: $m3;
}

.nav {
  height: $m3;
  float: right;
  a {
    //font-weight: 700;
    display: block;
    padding: 0 $m-5;
    float: left;
    height: $m3;
    &:hover {
      background-color: $gray1;
    }
    i {
      font-size: $m1-5;
    }
  }
}

.js-more-nav {
  background-color: $gray2;
  padding: 16px;
  position: absolute;
  top: $m3;
  right: 0;
  z-index: 512;
  display: none;
  ul {
    list-style: none;
  }
  label {
    display: block;
    font-size: 12px;
    line-height: 12px;
  }
}

input[type="text"] {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: 1px solid $gray3;
  border-radius: 4px;
}

.view {
  position: relative;
  top: $m3;
  right: 0;
  bottom: $m3;
  left: 0;
  //overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.loading-indicator {
  position: absolute;
  z-index: 1024;
  width: $m4;
  height: $m4;
  top: 40%;
  left: 50%;
  margin-left: -$m2;
  i {
    width: $m4;
    height: $m4;
    line-height: $m4;
    display: block;
    font-size: $m4;
  }
}

