
// LYT

.fl { float: left; }
.fr { float: right; }

.pad   { padding: $m1; }
.padto { padding-top: $m1; }
.padr  { padding-right: $m1; }
.padbo { padding-bottom: $m1; }
.padl  { padding-left: $m1; }

.pad-  { padding: 8px; }

.tappad {
  display: block;
  line-height: $m3;
  padding: 0 $m1;
  position: relative;
  & .icon {
    position: relative;
    top: 3px;
  }
}

.lrpad { padding: 0 $m1; }
.lrpadout4 { padding-left: 4px; padding-right: 4px; margin-left: -4px; margin-right: -4px; }

.mar-   { margin: 8px; }
.marto- { margin-top: 8px; }
.marr-  { margin-right: 8px; }
.marbo- { margin-bottom: 8px; }
.marl-  { margin-left: 8px; }

.mar    { margin: $m1; }
.marto  { margin-top: $m1; }
.marr   { margin-right: $m1; }
.marbo  { margin-bottom: $m1; }
.marl   { margin-left: $m1; }

.mar2   { margin: $m2; }
.marto2 { margin-top: $m2; }
.marr2  { margin-right: $m2; }
.marbo2 { margin-bottom: $m2; }
.marl2  { margin-left: $m2; }

.center { margin: 0 auto; }
.text-center { text-align: center; }

.vermid { vertical-align: middle; }
.vertop { vertical-align: top; }

.disb { display: block; }
.disib { display: inline-block; }

.overhide { overflow: hidden; }

.scroll-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.w100 { width: 100%; }
.w80  { width:  80%; }
.w60  { width:  60%; }
.w40  { width:  40%; }

.maxw32  { max-width: 32px; }
.maxw48  { max-width: 48px; }
.maxw64  { max-width: 64px; }
.maxw320 { max-width: 320px; }
.maxw640 { max-width: 640px; }

.htap { height: 48px; }

.img24  { width:  24px; height:  24px; }
.img32  { width:  32px; height:  32px; }
.img48  { width:  48px; height:  48px; }
.img64  { width:  64px; height:  64px; }
.img96  { width:  96px; height:  96px; }
.img128 { width: 128px; height: 128px; }

.sq48 { width: 48px; height: 48px; }
.sq64 { width: 64px; height: 64px; }

.hi48 { height: 48px; }
.hi64 { height: 64px; }

.hi128 { height: 128px; }

.maxhi64 { max-height: 64px; }

.maxhi1024 { max-height: 1024px; }

.lh16 { line-height: 16px;}
.lh24 { line-height: 24px;}
.lh32 { line-height: 32px;}
.lh48 { line-height: 48px;}
.lh64 { line-height: 64px;}

.z64  { z-index: 64; }
.z128 { z-index: 128; }
.z256 { z-index: 256; }
.z384 { z-index: 384; }
.z512 { z-index: 512; }
.posrel { position: relative; }
.posabs { position: absolute; }

.to0 { top:   0; }
.r0  { right: 0; }
.bo0 { bottom: 0; }
.l0  { left: 0; }

.to6 { top: 6px; }
.to26 { top: 26px; }

.right-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 8px;
  z-index: 512;
  cursor: pointer;
  //background: rgba(255,0,0,0.2);
}



// Get rid of this junk

.topbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $m3;
  line-height: $m3;

  z-index: 1024;
}

.globalplayer {
  top: 48px;
  height: 64px;
}

.view {
  position: absolute;
  top: 113px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &.leftcol {
    margin-right: 320px;
  }
}

.rightcol {
  position: absolute;
  top: 112px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 320px;
}


.logo {
  //float: left;
  margin-right: $m1;
  height: $m3;
}

.nav {
  height: $m3;
  float: right;
  a {
    //font-weight: 700;
    display: block;
    padding: 0 $m-5;
    float: left;
    height: $m3;
    &:hover {
      background-color: $gray1;
    }
    i {
      font-size: $m1-5;
    }
  }
}

input[type="text"] {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: 1px solid $gray3;
  border-radius: 4px;
}




.loading-indicator {
  position: absolute;
  z-index: 1024;
  width: $m4;
  height: $m4;
  top: 40%;
  left: 50%;
  margin-left: -$m2;
  i {
    width: $m4;
    height: $m4;
    line-height: $m4;
    display: block;
    font-size: $m4;
  }
}

