.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $m3;
  line-height: $m3;
  padding: 0 $m-5 0 $m1;
  z-index: 1024;
}

.logo {
  float: left;
  margin-right: $m1;
  height: $m3;
  i {
    position: relative;
    //top: .49px;
    //-webkit-font-smoothing: none;
  }
}

.nav {
  height: $m3;
  float: right;
  a {
    font-weight: 700;
    display: block;
    padding: 0 $m-5;
    float: left;
    height: $m3;
    &:hover {
      background-color: $gray1;
    }
    i {
      font-size: $m1-5;
    }
  }
}

.js-more-nav {
  background-color: $gray2;
  padding: 16px;
  position: absolute;
  top: $m3;
  right: 0;
  z-index: 512;
  display: none;
  ul {
    list-style: none;
  }
  label {
    display: block;
    font-size: 12px;
    line-height: 12px;
  }
}

input[type="text"] {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: 1px solid $gray3;
  border-radius: 4px;
}

.view {
  position: relative;
  top: $m3;
  right: 0;
  bottom: $m3;
  left: 0;
  //overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.view-heading {
  padding: 0 5%;
}



.loading-indicator {
  position: absolute;
  z-index: 1024;
  width: $m4;
  height: $m4;
  top: 40%;
  left: 50%;
  margin-left: -$m2;
  i {
    width: $m4;
    height: $m4;
    line-height: $m4;
    display: block;
    font-size: $m4;
  }
}

.tap-pad {
  display: block;
  line-height: $m3;
  padding: 0 $m1;
}