/* SM Player */

.sm-player {
  position: relative;
}

.sm-track-artist,
.sm-track-title {
  margin-left: 4rem;
}

.sm-play-pause-button {
  display: block;
  /* position: absolute; */
  top: .5rem;
  left: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: .125rem;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  background-color: #ccc;
  margin-top: .5rem;
  margin-right: .5rem;
}