$prime: #f60;

$white: #fff;
$text: #444;

$gray1: #f6f6f6;
$gray2: #eee;
$gray3: #ddd;
$gray4: #bbb;
$gray5: #999;

.no-touch-color {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.topbar {
  color: $gray5;
  background-color: $white;
  border-bottom: 1px solid $gray2;
  nav a {
    color: $gray5;
  }
}

.prime {
  color: $prime;
}

.gry {
  color: $gray5;
}

.boto { border-top: 1px solid $gray2; }
.bor { border-right: 1px solid $gray2; }
.bobo { border-bottom: 1px solid $gray2; }
.bol { border-left: 1px solid $gray2; }

.view {
  background-color: $white;
}

.loading-indicator {
  color: $gray4;
}

a.tappad:hover {
  background-color: $gray1;
}

.track { border-bottom: 1px solid $gray2; }
.track:first-child { border-top: 1px solid $gray2; }

// Amazing JxPlayer



.jx-player {}
.jx-play { color: $gray4; /* background-color: $gray4; */ }
.jx-play:hover { background-color: $gray1; }
.jx-pause { color: $white; background-color: $prime; }
.jx-pause:hover { background-color: lighten($prime, 5%);}
//.sc-title { color: darken($prime, 50%); }
.jx-artist { color: $gray5; }

.playing.jx-player { background-color: $text; }
.playing .jx-artist { color: $white; }
.playing .jx-title { color: $white; }
.playing .jx-time { color: $white; }
.jx-buffer { background-color: darken($text, 5%); }
.jx-played {
  background-color: $prime;
  //opacity: .1;
}

/*
.playing .jx-played {
  border-right: 1px solid $prime;
  opacity: .4;
}
*/


