$font-family: "proxima-nova-condensed", "urbana", Helvetica, sans-serif;
body {
  font-family: $font-family;
}
// Mathematical
$m-25:   4px;
$m-5:    8px;
$m-675: 10px;
$m-75:  12px;
$m1:    16px;
$m1-5:  24px;
$m2:    32px;
$m3:    48px;
$m4:    64px;
$m6:    96px;
$m8:   128px;
$m10:  160px;
$m16:  256px;
$m20:  320px;


// Redo this
//$f1: 64px;
//$f2: 48px;
//$f3: 32px;
//$f4: 24px;
//$f5: 20px;
//$f6: 16px;
//$f7: 12px;

//$f8: 8px;
//$f9: 4px;

.h1 { font-size: $m4; }
.h2 { font-size: $m3; }
.h3 { font-size: $m2; }
.h4 { font-size: $m1-5; }
.h5 { font-size: $m1; }
.h6 { font-size: $m-75; }
.sm { font-size: $m-75; }
.tiny { font-size: $m-675; }
.b  { font-weight: 700; }

